@import url('https://fonts.googleapis.com/css?family=Roboto:100');
@import url('https://fonts.googleapis.com/css?family=Roboto:300');
@import url('https://fonts.googleapis.com/css?family=Roboto:400');
@import url('https://fonts.googleapis.com/css?family=Roboto:500');
@import url('https://fonts.googleapis.com/css?family=Roboto:700');

@mixin roboto-font($font, $weight) {
    font-family: $font;
    font-weight: $weight;
}

//** Placeholder text color
$input-color-placeholder: $color_82 !default;

//Thin font
$thin-font: 'Roboto', sans-serif;
$thin-font-weight: 100;

//Condensed font
$condensed-font: 'Roboto', sans-serif;
$condensed-font-weight: 300;

//Light font
$light-font: 'Roboto', sans-serif;
$light-font-weight: 400;

//Regular font
$regular-font: 'Roboto', sans-serif;
$regular-font-weight: 500;

//Bold font
$bold-font: 'Roboto', sans-serif;
$bold-font-weight: 700;
