footer {
    &.main-footer {
        background-color: $color_2;
        margin-top: 60px;
        border-top: 1px solid $color_3;
        padding-top: 45px;
        padding-bottom: 60px;
        @media (max-width: 979px) {
            padding-bottom: 15px;
            text-align: center;
            margin-bottom: 55px;
        }

        .footer-logo {
            text-indent: -1000000px;
            @include inline-block;
            @media (max-width: 979px) {
                margin: 0 auto 45px;
            }
        }

        .block-wrapper {
            @include roboto-font($regular-font, $regular-font-weight);
            @media (min-width: 768px) and (max-width: 979px) {
                text-align: left;
            }

            .block-title {
                margin-top: 0;
                margin-bottom: 15px;
                color: $color_4;
                font-size: 18px;
            }

            .block-list {
                .block-element {
                    line-height: 1.2em;
                    margin-bottom: 15px;

                    a {
                        color: $color_5;
                        font-size: 14px;
                    }
                }
            }
        }

        .share-buttons {
            float: none;
            display: block;
            margin-bottom: 20px;
            @media (max-width: 767px) {
                @include inline-block();
            }
            .social-network {
                .icon {
                    text-indent: -100000px;
                }
            }
        }

        .copyrights {
            color: $color_86;
            @media (min-width: 768px) and (max-width: 979px) {
                text-align: left;
            }

            .copyright {
                display: block;
                font-size: 11px;
                margin-bottom: 15px;
                @include roboto-font($bold-font, $bold-font-weight);
            }

            .notice {
                font-size: 11px;
                line-height: 18px;
                margin-bottom: 0;
                @include roboto-font($regular-font, $regular-font-weight);
            }
        }
    }
}
