header {
    &.top-header {
        background-color: $color_28;
        border-bottom: 1px solid $color_41;
        margin-bottom: 30px;
        @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
            text-align: center;
        }

        .logo {
            margin-top: 6px;
            text-indent: -1000000px;
            @include inline-block();
            @include sprites('logo');
            @media (min-width: 768px) and (max-width: 979px) {
                margin-bottom: 6px;
            }
            @media (max-width: 480px) {
                margin-top: 5px;
                margin-bottom: 5px;
            }
        }

        .main-header {
            padding: 20px 0;
            background: $color_2 no-repeat right center;
            position: relative;
            @media (max-width: 767px) {
                background-position: center bottom;
            }

            .main-title {
                font-size: 36px;
            }

            .submain-title {
                font-size: 16px;
                font-weight: 300;
            }
        }

        .mobile-menu {
            margin-top: 13px;
            margin-bottom: 13px;
            @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
                text-align: left;
            }

            .mobile-menu-hamburger {
                color: $color_2;
                font-size: 25px;
                cursor: pointer;
                @include inline-block();
            }
        }

        .account-wrapper {
            float: right;
            @include clearfix();
            @media (max-width: 767px) {
                float: none;
                text-align: right;
            }

            .user-account {
                float: right;
                @include border-radius(3px);

                a {
                    font-size: 14px;
                    color: $color_26;
                    @include roboto-font($regular-font, $regular-font-weight);
                }

                .top-menu {
                    .menu-item {
                        padding-top: 0;
                        padding-bottom: 0;

                        .menu-element {
                            @include clearfix;

                            img, span {
                                float: left;
                                display: block;
                            }
                        }
                    }
                }

                &.logged {
                    border: none;
                    padding: 0;
                    margin-top: 0;
                    @include border-radius(0);

                    .top-menu {
                        .menu-item {
                            .menu-element {
                                padding: 0;
                                text-transform: capitalize;
                                @include clearfix;

                                &.profile-name {
                                    .main-details {
                                        .photo-wrapper {
                                            float: left;
                                            width: 40px;
                                            height: 40px;
                                            border: 1px solid $color_13;
                                            margin-top: 5px;
                                            margin-right: 15px;
                                            @media (max-width: 979px) {
                                                margin-right: 0;
                                            }
                                            @media (max-width: 767px) {
                                                width: 34px;
                                                height: 34px;
                                                margin-top: 9px;
                                            }
                                        }

                                        .text {
                                            float: left;
                                        }
                                    }
                                }

                                span {
                                    padding: 15px 0 16px;
                                    @media (max-width: 767px) {
                                        //display: none;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
