body {
    position: relative;
    color: $color_30;
    background-color: $color_36;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;

    .our-terms {
        @media (max-width: 480px) {
            padding-left: 15px;
        }
    }

    .overlay-background {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: -1;
        background-color: $color_11;
        background-color: rgba($color_11, 0.33);
        @include opacity(0);
        @include transition(.3s);

        &.active {
            z-index: 11;
            @include opacity(1);
        }
    }
}
