body {
    font-size: 14px;
    color: $color_30;
    @include roboto-font($light-font, $light-font-weight);
    //@include text-shadow(rgba(0, 0, 0, 0.12) 0 0 1px);
    a {
        &:hover {
            text-decoration: none;
            cursor: pointer;
        }
    }
}

h1, h2 {
    font-size: 28px;
    color: $color_28;
    margin: 0;
    @include roboto-font($thin-font, $thin-font-weight);
}

p {
    @include roboto-font($light-font, $light-font-weight);
    font-size: 14px;
    line-height: 1.4em;
    margin-bottom: 30px;
}

ol {
    li {
        list-style: decimal;
        margin-bottom: 30px;
    }
}
