<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>feed-photo-forum.herokuapp.com</title>

    <link rel="icon" href="../favicon.ico">

    <% include ../env/production.ejs %>
</head>
<body class="home-page group-page group-page-all-members">
<header class="top-header">
    <div class="container-fluid">
        <div class="row">
            <% include ../includes/desktop_top_header_logged.ejs %>
        </div>
    </div>
    <div class="main-header" style="background-image: url('../images/group_default_background.png')">
        <!--add 'completed' on 100%-->
        <div class="uploading-new-cover-photo-overlay " style="width: 75%"></div>
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <h1 class="main-title">Сватбена фотография</h1>
                    <h2 class="submain-title">
                        <i class="fa fa-lock" aria-hidden="true"></i>
                        <span class="text">Затворена група</span>
                    </h2>
                    <h2 class="submain-title">
                        <i class="fa fa-unlock-alt" aria-hidden="true"></i>
                        <span class="text">Публична група</span>
                    </h2>
                    <h2 class="submain-title">
                        <i class="fa fa-eye-slash" aria-hidden="true"></i>
                        <span class="text">Скрита група</span>
                    </h2>
                </div>
                <div class="col-lg-push-3 col-lg-3">
                    <!--add 'btn-loading disabled' on uploading. Remove after uploading finish-->
                    <button
                        class="btn btn-sm btn-block btn-bordered btn-change-cover-photo btn-action btn-loading disabled">
                        <span class="btn-content-wrapper">
                            <span class="icon">
                                <i class="fa fa-cloud-upload" aria-hidden="true"></i>
                                <i class="fa fa-spinner fa-spin spinner"></i>
                            </span>
                            <!--change text with jquery to "uploading photo..."-->
                            <span class="text">Снимката се качва</span>
                        </span>
                        <input type="file" id="upload-cover-photo" name="upload"/>
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="group-options">
        <div class="container">
            <div class="row">
                <div class="col-lg-9">
                    <div class="group-option-buttons">
                        <div class="btn-group">
                            <button type="button" class="btn btn-sm btn-default dropdown-toggle"
                                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span class="text">Присъединен</span>
                                <i class="fa fa-chevron-down" aria-hidden="true"></i>
                            </button>
                            <ul class="dropdown-menu">
                                <li>
                                    <i class="fa fa-check" aria-hidden="true"></i>
                                    <span data-keyboard="true" data-toggle="modal" data-target="#modalConfirmAction">Напускане на групата</span>
                                </li>
                                <li>
                                    <i class="fa fa-check" aria-hidden="true"></i>
                                    <span class="text-danger">( ! ) Подай сигнал</span>
                                </li>
                            </ul>
                        </div>
                        <!--add class 'block-notifications' on block-->
                        <div class="btn-group block-notifications">
                            <button type="button" class="btn btn-sm btn-default dropdown-toggle"
                                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <!--<i class="fa fa-check" aria-hidden="true"></i>-->
                                <i class="fa fa-ban" aria-hidden="true"></i>
                                <span class="text">Известия</span>
                            </button>
                            <ul class="dropdown-menu">
                                <li>
                                    <i class="fa fa-check" aria-hidden="true"></i>
                                    <span>Всички известия</span>
                                </li>
                                <li>
                                    <i class="fa fa-check" aria-hidden="true"></i>
                                    <span>Пуликации на членове, които следвам</span>
                                </li>
                                <li class="selected">
                                    <i class="fa fa-check" aria-hidden="true"></i>
                                    <span>Спри известията</span>
                                </li>
                            </ul>
                        </div>
                        <div class="btn-group">
                            <button type="button" class="btn btn-sm btn-default dropdown-toggle"
                                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fa fa-cog" aria-hidden="true"></i>
                                <span class="text hidden-xs hidden-sm">Администриране</span>
                            </button>
                            <ul class="dropdown-menu">
                                <li>
                                    <i class="fa fa-check" aria-hidden="true"></i>
                                    <span>Списък на членовете на групата</span>
                                </li>
                                <li>
                                    <i class="fa fa-check" aria-hidden="true"></i>
                                    <span>Редактиране настройките на групата</span>
                                </li>
                                <li role="separator" class="divider"></li>
                                <li><span class="text-danger">Изтрий групата</span></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="form-group search-field">
                        <form>
                            <input type="text" class="form-control" value=""
                                   placeholder="Търсене в тази група ...">
                            <button type="submit" class="btn btn-search">
                                <i class="fa fa-search" aria-hidden="true"></i>
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <% include ../includes/menu_mobile.ejs %>
</header>
<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-9 col-lg-9">
            <div class="widget group-members">
                <div class="group-admins">
                    <div class="widget-header">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-lg-12 no-padding">
                                    <h3 class="widget-label">Администратори (1)</h3>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="widget-body">
                        <div class="widget-item">
                            <div class="container-fluid">
                                <div class="group-member">
                                    <div class="row">
                                        <div class="col-xs-3 col-sm-3 col-md-1 col-lg-1">
                                            <div class="main-details">
                                                <div class="photo-wrapper">
                                                    <a href="#" class="photo"
                                                       style="background-image: url('../images/photos/user1.jpg')">
                                                        <span class="text">Христофор Герасимов Господинов</span>
                                                    </a>
                                                </div>
                                                <div class="group-member-badge">
                                                    <span class="icon"></span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-xs-6 col-sm-6 col-md-10 col-lg-10">
                                            <h3 class="group-member-name"><a href="#">Николас Вега</a></h3>
                                            <div class="group-action-notice">Създаде групата на 5 януари 2019 г.</div>
                                        </div>
                                        <div class="col-xs-3 col-sm-3 col-md-1 col-lg-1">
                                            <div class="btn-group">
                                                <button type="button" class="btn btn-default btn-share dropdown-toggle"
                                                        data-toggle="dropdown"
                                                        aria-haspopup="true" aria-expanded="false">
                                                    <i class="fa fa-ellipsis-h" aria-hidden="true"></i>
                                                </button>
                                                <ul class="dropdown-menu">
                                                    <li><a href="#">Премахване като администратор</a></li>
                                                    <li><a href="#" class="text-danger">Напускане на групата</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="group-regular-members">
                    <div class="widget-header">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-lg-12 no-padding">
                                    <h3 class="widget-label">Всички членове (4)</h3>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="widget-body">
                        <div class="widget-item">
                            <div class="container-fluid">
                                <div class="group-member">
                                    <div class="row">
                                        <div class="col-xs-3 col-sm-3 col-md-1 col-lg-1">
                                            <div class="main-details">
                                                <div class="photo-wrapper">
                                                    <a href="#" class="photo"
                                                       style="background-image: url('../images/photos/user1.jpg')">
                                                        <span class="text">Христофор Герасимов Господинов</span>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-xs-6 col-sm-6 col-md-10 col-lg-10">
                                            <h3 class="group-member-name"><a href="#">Николас Вега</a></h3>
                                            <div class="group-action-notice">Създаде групата на 5 януари 2019 г.</div>
                                        </div>
                                        <div class="col-xs-3 col-sm-3 col-md-1 col-lg-1">
                                            <div class="btn-group">
                                                <button type="button" class="btn btn-default btn-share dropdown-toggle"
                                                        data-toggle="dropdown"
                                                        aria-haspopup="true" aria-expanded="false">
                                                    <i class="fa fa-ellipsis-h" aria-hidden="true"></i>
                                                </button>
                                                <ul class="dropdown-menu">
                                                    <li><a href="#">Премахване като администратор</a></li>
                                                    <li><a href="#" class="text-danger">Напускане на групата</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="group-member">
                                    <div class="row">
                                        <div class="col-xs-3 col-sm-3 col-md-1 col-lg-1">
                                            <div class="main-details">
                                                <div class="photo-wrapper">
                                                    <a href="#" class="photo"
                                                       style="background-image: url('../images/photos/user1.jpg')">
                                                        <span class="text">Христофор Герасимов Господинов</span>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-xs-6 col-sm-6 col-md-10 col-lg-10">
                                            <h3 class="group-member-name"><a href="#">Николас Вега</a></h3>
                                            <div class="group-action-notice">Добавен от Николас Вега вчера</div>
                                        </div>
                                        <div class="col-xs-3 col-sm-3 col-md-1 col-lg-1">
                                            <div class="btn-group">
                                                <button type="button" class="btn btn-default btn-share dropdown-toggle"
                                                        data-toggle="dropdown"
                                                        aria-haspopup="true" aria-expanded="false">
                                                    <i class="fa fa-ellipsis-h" aria-hidden="true"></i>
                                                </button>
                                                <ul class="dropdown-menu">
                                                    <li><a href="#">Премахване като администратор</a></li>
                                                    <li><a href="#" class="text-danger">Напускане на групата</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="group-member">
                                    <div class="row">
                                        <div class="col-xs-3 col-sm-3 col-md-1 col-lg-1">
                                            <div class="main-details">
                                                <div class="photo-wrapper">
                                                    <a href="#" class="photo"
                                                       style="background-image: url('../images/photos/user1.jpg')">
                                                        <span class="text">Христофор Герасимов Господинов</span>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-xs-6 col-sm-6 col-md-10 col-lg-10">
                                            <h3 class="group-member-name"><a href="#">Николас Вега</a></h3>
                                            <div class="group-action-notice">Добавен от Николас Вега вчера</div>
                                        </div>
                                        <div class="col-xs-3 col-sm-3 col-md-1 col-lg-1">
                                            <div class="btn-group">
                                                <button type="button" class="btn btn-default btn-share dropdown-toggle"
                                                        data-toggle="dropdown"
                                                        aria-haspopup="true" aria-expanded="false">
                                                    <i class="fa fa-ellipsis-h" aria-hidden="true"></i>
                                                </button>
                                                <ul class="dropdown-menu">
                                                    <li><a href="#">Премахване като администратор</a></li>
                                                    <li><a href="#" class="text-danger">Напускане на групата</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="group-member">
                                    <div class="row">
                                        <div class="col-xs-3 col-sm-3 col-md-1 col-lg-1">
                                            <div class="main-details">
                                                <div class="photo-wrapper">
                                                    <a href="#" class="photo"
                                                       style="background-image: url('../images/photos/user1.jpg')">
                                                        <span class="text">Христофор Герасимов Господинов</span>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-xs-6 col-sm-6 col-md-10 col-lg-10">
                                            <h3 class="group-member-name"><a href="#">Николас Вега</a></h3>
                                            <div class="group-action-notice">Добавен от Николас Вега на 30 декември 2018</div>
                                        </div>
                                        <div class="col-xs-3 col-sm-3 col-md-1 col-lg-1">
                                            <div class="btn-group">
                                                <button type="button" class="btn btn-default btn-share dropdown-toggle"
                                                        data-toggle="dropdown"
                                                        aria-haspopup="true" aria-expanded="false">
                                                    <i class="fa fa-ellipsis-h" aria-hidden="true"></i>
                                                </button>
                                                <ul class="dropdown-menu">
                                                    <li><a href="#">Премахване като администратор</a></li>
                                                    <li><a href="#" class="text-danger">Напускане на групата</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <aside class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
            <div class="advertising">
                <img src="../images/banner_bottom.jpg" alt="">
            </div>
        </aside>
    </div>
</div>
<% include ../includes/footer.ejs %>
<% include ../includes/upcoming_events.ejs %>
<div class="overlay-background"></div>
<% include ../includes/photo_swipe.ejs %>
</body>
</html>
