<% include modal_upload_photo.ejs %>
<% include modal_confirm_action.ejs %>
<div class="col-xs-3 col-sm-4 col-md-2 col-lg-1">
    <div class="mobile-menu hidden-md hidden-lg">
        <i class="fa fa-bars mobile-menu-hamburger" aria-hidden="true"></i>
    </div>
    <a href="/" class="hidden-xs hidden-sm logo" title="photo-forum.net">photo-forum.net</a>
</div>

<div class="col-xs-4 col-sm-4 col-md-8 col-lg-9">
    <a href="/" class="hidden-md hidden-lg logo" title="photo-forum.net">photo-forum.net</a>
    <% include menu.ejs %>
</div>

<div class="col-xs-5 col-sm-4 col-md-2 col-lg-2">
    <div class="account-wrapper">
        <ul class="notifications-wrapper not-logged clearfix">
            <li class="notification upload-photo">
                <a href="#" data-keyboard="true" data-toggle="modal" data-target="#modalUploadPhoto">
                    <i class="fa fa-cloud-upload" aria-hidden="true"></i>
                </a>
            </li>
        </ul>
        <div class="user-account not-logged">
            <ul class="top-menu">
                <li class="menu-item">
                    <a href="#" class="menu-element" data-keyboard="true" data-toggle="modal" data-target="#loginPopup">
                        <span class="text">Вход</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
