<ul class="event-status-comments">
    <li class="single-comment">
        <div class="main-details">
            <div class="photo-wrapper">
                <a href="#" class="photo" style="background-image: url('../images/photos/user4.jpg')">
                    <span class="text">Христофор Герасимов Господинов</span>
                </a>
            </div>
        </div>
        <div class="comment-wrapper">
            <a href="#" class="comment-author-name">Светозар Георгиев</a>
            <span class="separator hidden-xs hidden-sm">-</span>
            <span class="comment-time">преди 2 часа</span>
            <p class="comment hidden-xs hidden-sm">Имаш ли снимка? Виждал съм много изкоренени дървета чак на пътя.</p>
            <ul class="comment-tools hidden-xs hidden-sm">
                <li class="tool like">
                    <a class="add-to-favorites added">
                        <i class="fa fa-heart" aria-hidden="true"></i>
                        <span class="text">Не харесвам</span>
                    </a>
                </li>
                <li class="tool block">
                    <a href="#">Блокирай</a>
                </li>
            </ul>
            <ul class="admin comment-tools hidden-xs hidden-sm">
                <li class="tool edit">
                    <a href="#" class="edit">
                        <span class="text">Редактирай</span>
                    </a>
                </li>
                <li class="tool delete">
                    <a href="#">
                        <span class="text">Изтрий</span>
                    </a>
                </li>
            </ul>
        </div>
        <div class="comment-wrapper small-screen hidden-md hidden-lg">
            <p class="comment">Имаш ли снимка? Виждал съм много изкоренени дървета чак на пътя.</p>
            <ul class="comment-tools">
                <li class="tool like">
                    <a class="add-to-favorites added">
                        <i class="fa fa-heart" aria-hidden="true"></i>
                        <span class="text hidden-xs hidden-sm">Не харесвам</span>
                    </a>
                </li>
                <li class="tool block">
                    <a href="#">Блокирай</a>
                </li>
            </ul>
            <ul class="admin comment-tools">
                <li class="tool edit">
                    <a href="#" class="edit">
                        <span class="text">Редактирай</span>
                    </a>
                </li>
                <li class="tool delete">
                    <a href="#">
                        <span class="text">Изтрий</span>
                    </a>
                </li>
            </ul>
        </div>
    </li>
    <li class="single-comment">
        <div class="main-details">
            <div class="photo-wrapper">
                <a href="#" class="photo" style="background-image: url('../images/photos/user4.jpg')">
                    <span class="text">Христофор Герасимов Господинов</span>
                </a>
            </div>
        </div>
        <div class="comment-wrapper">
            <a href="#" class="comment-author-name">Светозар Георгиев</a>
            <span class="separator hidden-xs hidden-sm">-</span>
            <span class="comment-time">преди 2 часа</span>
            <p class="comment hidden-xs hidden-sm">Имаш ли снимка? Виждал съм много изкоренени дървета чак на пътя.</p>
            <ul class="comment-tools hidden-xs hidden-sm">
                <li class="tool like">
                    <a class="add-to-favorites added">
                        <i class="fa fa-heart" aria-hidden="true"></i>
                        <span class="text">Не харесвам</span>
                    </a>
                </li>
                <li class="tool block">
                    <a href="#">Блокирай</a>
                </li>
            </ul>
            <ul class="admin comment-tools hidden-xs hidden-sm">
                <li class="tool edit">
                    <a href="#" class="edit">
                        <span class="text">Редактирай</span>
                    </a>
                </li>
                <li class="tool delete">
                    <a href="#">
                        <span class="text">Изтрий</span>
                    </a>
                </li>
            </ul>
        </div>
        <div class="comment-wrapper small-screen hidden-md hidden-lg">
            <p class="comment">Имаш ли снимка? Виждал съм много изкоренени дървета чак на пътя.</p>
            <ul class="comment-tools">
                <li class="tool like">
                    <a class="add-to-favorites added">
                        <i class="fa fa-heart" aria-hidden="true"></i>
                        <span class="text hidden-xs hidden-sm">Не харесвам</span>
                    </a>
                </li>
                <li class="tool block">
                    <a href="#">Блокирай</a>
                </li>
            </ul>
            <ul class="admin comment-tools">
                <li class="tool edit">
                    <a href="#" class="edit">
                        <span class="text">Редактирай</span>
                    </a>
                </li>
                <li class="tool delete">
                    <a href="#">
                        <span class="text">Изтрий</span>
                    </a>
                </li>
            </ul>
        </div>
    </li>
    <li class="single-comment">
        <div class="main-details">
            <div class="photo-wrapper">
                <a href="#" class="photo" style="background-image: url('../images/photos/user4.jpg')">
                    <span class="text">Христофор Герасимов Господинов</span>
                </a>
            </div>
        </div>
        <div class="comment-wrapper">
            <a href="#" class="comment-author-name">Светозар Георгиев</a>
            <span class="separator hidden-xs hidden-sm">-</span>
            <span class="comment-time">преди 2 часа</span>
            <p class="comment hidden-xs hidden-sm">Имаш ли снимка? Виждал съм много изкоренени дървета чак на пътя.</p>
            <ul class="comment-tools hidden-xs hidden-sm">
                <li class="tool like">
                    <a class="add-to-favorites added">
                        <i class="fa fa-heart" aria-hidden="true"></i>
                        <span class="text">Не харесвам</span>
                    </a>
                </li>
                <li class="tool block">
                    <a href="#">Блокирай</a>
                </li>
            </ul>
            <ul class="admin comment-tools hidden-xs hidden-sm">
                <li class="tool edit">
                    <a href="#" class="edit">
                        <span class="text">Редактирай</span>
                    </a>
                </li>
                <li class="tool delete">
                    <a href="#">
                        <span class="text">Изтрий</span>
                    </a>
                </li>
            </ul>
        </div>
        <div class="comment-wrapper small-screen hidden-md hidden-lg">
            <p class="comment">Имаш ли снимка? Виждал съм много изкоренени дървета чак на пътя.</p>
            <ul class="comment-tools">
                <li class="tool like">
                    <a class="add-to-favorites added">
                        <i class="fa fa-heart" aria-hidden="true"></i>
                        <span class="text hidden-xs hidden-sm">Не харесвам</span>
                    </a>
                </li>
                <li class="tool block">
                    <a href="#">Блокирай</a>
                </li>
            </ul>
            <ul class="admin comment-tools">
                <li class="tool edit">
                    <a href="#" class="edit">
                        <span class="text">Редактирай</span>
                    </a>
                </li>
                <li class="tool delete">
                    <a href="#">
                        <span class="text">Изтрий</span>
                    </a>
                </li>
            </ul>
        </div>
    </li>
</ul>
