<footer class="main-footer">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
                <div class="block-wrapper">
                    <h3 class="block-title">Бързи връзки</h3>
                    <ul class="block-list">
                        <li class="block-element">
                            <a href="#">Автори</a>
                        </li>
                        <li class="block-element">
                            <a href="#">Автори TOP 100</a>
                        </li>
                        <li class="block-element">
                            <a href="#">Полезни коментари</a>
                        </li>
                        <li class="block-element">
                            <a href="#">Топ по коментари</a>
                        </li>
                        <li class="block-element">
                            <a href="#">English</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
                <div class="block-wrapper">
                    <h3 class="block-title">Photo-forum.net</h3>
                    <ul class="block-list">
                        <li class="block-element">
                            <a href="#">Статии</a>
                        </li>
                        <li class="block-element">
                            <a href="#">Правила</a>
                        </li>
                        <li class="block-element">
                            <a href="#">За нас / Реклама</a>
                        </li>
                        <li class="block-element">
                            <a href="#">FAQ</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
                <div class="block-wrapper">
                    <h3 class="block-title">Фотописи</h3>
                    <ul class="block-list">
                        <li class="block-element">
                            <a href="#">Исландия</a>
                        </li>
                        <li class="block-element">
                            <a href="#">Северно Сияние</a>
                        </li>
                        <li class="block-element">
                            <a href="#">Момчето с количката</a>
                        </li>
                        <li class="block-element">
                            <a href="#">Всички теми</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
                <ul class="share-buttons">
                    <li class="social-network">
                        <a class="icon share-facebook">facebook</a>
                    </li>
                    <li class="social-network">
                        <a class="icon share-google"Google+></a>
                    </li>
                    <li class="social-network">
                        <a class="icon share-pinterest">Pinterest</a>
                    </li>
                </ul>
                <div class="copyrights">
                    <span class="copyright">&copy; 2007-2017 Photo-Forum.net</span>
                    <p class="notice">
                        Снимките в този сайт са със запазени авторски права. Използването им без позволението на авторите е незаконно.
                    </p>
                </div>
            </div>
        </div>
    </div>
</footer>