<div class="header-menu-wrapper hidden-xs hidden-sm">
    <ul class="header-menu top-menu">
        <li class="menu-item has-submenu">
            <a href="#" class="menu-element">
                <span class="text">Албум</span>
            </a>
            <ul class="submenu">
                <li class="menu-item">
                    <a href="news-read" class="menu-element">
                        <span class="text">Една новина</span>
                    </a>
                </li>
                <li class="menu-item">
                    <a href="news-story" class="menu-element">
                        <span class="text">Новини</span>
                    </a>
                </li>
                <li class="menu-item">
                    <a href="profile-edit" class="menu-element">
                        <span class="text">Редактирай профил</span>
                    </a>
                </li>
                <li class="menu-item">
                    <a href="profile-logged" class="menu-element">
                        <span class="text">Логнат потребител</span>
                    </a>
                </li>
                <li class="menu-item">
                    <a href="rating" class="menu-element">
                        <span class="text">Рейтинг</span>
                    </a>
                </li>
                <li class="menu-item">
                    <a href="user-message" class="menu-element">
                        <span class="text">Съобщение</span>
                    </a>
                </li>
                <li class="menu-item">
                    <a href="user-messages" class="menu-element">
                        <span class="text">Всички съобщения</span>
                    </a>
                </li>
                <li class="menu-item">
                    <a href="registration" class="menu-element">
                        <span class="text">Регистрация</span>
                    </a>
                </li>
                <li class="menu-item">
                    <a href="registration-finish" class="menu-element">
                        <span class="text">Регистрация крайна стъпка</span>
                    </a>
                </li>
                <li class="menu-item">
                    <a href="forgotten-password" class="menu-element">
                        <span class="text">Забравена парола</span>
                    </a>
                </li>
                <li class="menu-item">
                    <a href="profile" class="menu-element">
                        <span class="text">Профил</span>
                    </a>
                </li>
                <li class="menu-item">
                    <a href="notifications" class="menu-element">
                        <span class="text">Известия</span>
                    </a>
                </li>
                <li class="menu-item">
                    <a href="gallery" class="menu-element">
                        <span class="text">Галерия</span>
                    </a>
                </li>
            </ul>
        </li>
        <li class="menu-item has-submenu">
            <a href="rating" class="menu-element">
                <span class="text">Рейтинг</span>
            </a>
            <ul class="submenu">
                <li class="menu-item">
                    <a href="event-read" class="menu-element">
                        <span class="text">Прочети събитие</span>
                    </a>
                </li>
                <li class="menu-item">
                    <a href="last-comments" class="menu-element">
                        <span class="text">Последни коментари</span>
                    </a>
                </li>
                <li class="menu-item">
                    <a href="editors" class="menu-element">
                        <span class="text">Редактори</span>
                    </a>
                </li>
                <li class="menu-item">
                    <a href="editor-view" class="menu-element">
                        <span class="text">Преглед на редактор</span>
                    </a>
                </li>
                <li class="menu-item">
                    <a href="useful-comments" class="menu-element">
                        <span class="text">Полезни коментари</span>
                    </a>
                </li>
            </ul>
        </li>
        <li class="menu-item has-submenu">
            <a href="#" class="menu-element">
                <span class="text">Рейтинг Б</span>
            </a>
            <ul class="submenu">
                <li class="menu-item">
                    <a href="rating-history" class="menu-element">
                        <span class="text">Рейтинг История</span>
                    </a>
                </li>
                <li class="menu-item">
                    <a href="rating-history-month" class="menu-element">
                        <span class="text">Рейтинг История Месец</span>
                    </a>
                </li>
                <li class="menu-item">
                    <a href="photopis" class="menu-element">
                        <span class="text">Фотопис</span>
                    </a>
                </li>
                <li class="menu-item">
                    <a href="photopis-view" class="menu-element">
                        <span class="text">Фотопис преглед</span>
                    </a>
                </li>
                <li class="menu-item">
                    <a href="photopis-edit" class="menu-element">
                        <span class="text">Фотопис редакция</span>
                    </a>
                </li>
                <li class="menu-item">
                    <a href="camera-item-view" class="menu-element">
                        <span class="text">Преглед на камера</span>
                    </a>
                </li>
            </ul>
        </li>
        <li class="menu-item has-submenu">
            <a href="forum-all-topics" class="menu-element">
                <span class="text">Форум</span>
            </a>
            <ul class="submenu">
                <li class="menu-item">
                    <a href="forum-topic" class="menu-element">
                        <span class="text">Тема</span>
                    </a>
                </li>
                <li class="menu-item">
                    <a href="forum-new-topic" class="menu-element">
                        <span class="text">Нова тема</span>
                    </a>
                </li>
                <li class="menu-item">
                    <a href="forum-fest" class="menu-element">
                        <span class="text">Фест</span>
                    </a>
                </li>
            </ul>
        </li>
        <li class="current menu-item has-submenu">
            <a href="bazar" class="menu-element">
                <span class="text">Базар</span>
            </a>
            <ul class="submenu">
                <li class="menu-item">
                    <a href="group" class="menu-element">
                        <span class="text">Група</span>
                    </a>
                </li>
                <li class="menu-item">
                    <a href="post-event" class="menu-element">
                        <span class="text">Пост Галерия</span>
                    </a>
                </li>
                <li class="menu-item">
                    <a href="bazar-view-ad" class="menu-element">
                        <span class="text">Обява</span>
                    </a>
                </li>
                <li class="menu-item">
                    <a href="bazar-add-ad" class="menu-element">
                        <span class="text">Добави обява</span>
                    </a>
                </li>
            </ul>
        </li>
        <li class="menu-item">
            <a href="#" class="menu-element" data-keyboard="true" data-toggle="modal" data-target="#modalUploadPhoto">
                <span class="text">Качи</span>
            </a>
        </li>
    </ul>
</div>
