<div class="profile-menu">
    <ul class="top-menu">
        <li class="menu-item has-submenu">
            <div class="menu-element">
                <div class="main-details profile-photo">
                    <div class="photo-wrapper">
                        <a href="profile-logged" class="photo" style="background-image: url('../images/photos/user1.jpg')">
                            <span class="text">Христофор Герасимов Господинов</span>
                        </a>
                    </div>
                    <span class="first-name text">Христофор</span>
                    <span class="last-name text">Господинов</span>
                </div>
            </div>
        </li>
        <li class="menu-item">
            <span class="icon close-menu"></span>
        </li>
    </ul>
    <ul class="menu-list body-list">
        <li class="menu-item">
            <a href="#" class="menu-element" data-keyboard="true" data-toggle="modal" data-target="#modalUploadPhoto">
                <span class="text">качи снимка</span>
            </a>
        </li>
        <li class="menu-item">
            <a href="profile-logged" class="menu-element">
                <span class="text">моят профил</span>
            </a>
        </li>
        <li class="menu-item">
            <a href="user-messages" class="menu-element">
                <span class="text">лични съобщения</span>
            </a>
        </li>
        <li class="menu-item">
            <a href="#" class="menu-element">
                <span class="text">моите теми</span>
            </a>
        </li>
        <li class="menu-item">
            <a href="#" class="menu-element">
                <span class="text">моите фотописи</span>
            </a>
        </li>
    </ul>
    <ul class="menu-list bottom-list">
        <li class="menu-item">
            <a href="profile-edit" class="menu-element">
                <span class="text">редакция на профил</span>
            </a>
        </li>
        <li class="menu-item">
            <a href="#" class="menu-element">
                <span class="text">изход</span>
            </a>
        </li>
    </ul>
</div>
