<div class="mobile-menu-wrapper hidden-md hidden-lg">
    <ul class="mobile-menu-nav">
        <li class="menu-item menu-logo">
            <a href="/" class="hidden-md hidden-lg logo" title="photo-forum.net">photo-forum.net</a>
        </li>
        <li class="menu-item close-menu-icon">
            <i class="icon close-menu"></i>
        </li>
    </ul>
    <ul class="top-menu">
        <li class="menu-item has-submenu">
            <a href="profile" class="menu-element">
                <span class="text">Албум</span>
            </a>
            <ul class="submenu">
                <li class="menu-item back-menu-icon">
                    <div class="menu-element">
                        <i class="fa fa-angle-left" aria-hidden="true"></i>
                        <span class="text">назад</span>
                    </div>
                </li>
                <li class="menu-item">
                    <a href="profile" class="menu-element">
                        <span class="text">Албум</span>
                    </a>
                </li>
                <li class="menu-item">
                    <a href="news-read" class="menu-element">
                        <span class="text">Една новина</span>
                    </a>
                </li>
                <li class="menu-item">
                    <a href="news-story" class="menu-element">
                        <span class="text">Новини</span>
                    </a>
                </li>
                <li class="menu-item">
                    <a href="profile-edit" class="menu-element">
                        <span class="text">Редактирай профил</span>
                    </a>
                </li>
                <li class="menu-item">
                    <a href="profile-logged" class="menu-element">
                        <span class="text">Логнат потребител</span>
                    </a>
                </li>
                <li class="menu-item">
                    <a href="rating" class="menu-element">
                        <span class="text">Рейтинг</span>
                    </a>
                </li>
                <li class="menu-item">
                    <a href="user-message" class="menu-element">
                        <span class="text">Съобщение</span>
                    </a>
                </li>
                <li class="menu-item">
                    <a href="user-messages" class="menu-element">
                        <span class="text">Всички съобщения</span>
                    </a>
                </li>
                <li class="menu-item">
                    <a href="registration" class="menu-element">
                        <span class="text">Регистрация</span>
                    </a>
                </li>
                <li class="menu-item">
                    <a href="registration-finish" class="menu-element">
                        <span class="text">Регистрация крайна стъпка</span>
                    </a>
                </li>
                <li class="menu-item">
                    <a href="forgotten-password" class="menu-element">
                        <span class="text">Забравена парола</span>
                    </a>
                </li>
                <li class="menu-item">
                    <a href="profile" class="menu-element">
                        <span class="text">Профил</span>
                    </a>
                </li>
                <li class="menu-item">
                    <a href="notifications" class="menu-element">
                        <span class="text">Известия</span>
                    </a>
                </li>
                <li class="menu-item">
                    <a href="gallery" class="menu-element">
                        <span class="text">Галерия</span>
                    </a>
                </li>
            </ul>
        </li>
        <li class="menu-item has-submenu">
            <a href="rating" class="menu-element">
                <span class="text">Рейтинг</span>
            </a>
            <ul class="submenu">
                <li class="menu-item back-menu-icon">
                    <div class="menu-element">
                        <i class="fa fa-angle-left" aria-hidden="true"></i>
                        <span class="text">назад</span>
                    </div>
                </li>
                <li class="menu-item">
                    <a href="search-results" class="menu-element">
                        <span class="text">Резултати от търсене</span>
                    </a>
                </li>
                <li class="menu-item">
                    <a href="licenses" class="menu-element">
                        <span class="text">Лицензи</span>
                    </a>
                </li>
                <li class="menu-item">
                    <a href="photo-not-found" class="menu-element">
                        <span class="text">Снимката не е намерена</span>
                    </a>
                </li>
                <li class="menu-item">
                    <a href="photo" class="menu-element">
                        <span class="text">Снимка</span>
                    </a>
                </li>
                <li class="menu-item">
                    <a href="rating" class="menu-element">
                        <span class="text">Рейтинг</span>
                    </a>
                </li>
                <li class="menu-item">
                    <a href="event-read" class="menu-element">
                        <span class="text">Прочети събитие</span>
                    </a>
                </li>
                <li class="menu-item">
                    <a href="last-comments" class="menu-element">
                        <span class="text">Последни коментари</span>
                    </a>
                </li>
                <li class="menu-item">
                    <a href="editors" class="menu-element">
                        <span class="text">Редактори</span>
                    </a>
                </li>
                <li class="menu-item">
                    <a href="editor-view" class="menu-element">
                        <span class="text">Преглед на редактор</span>
                    </a>
                </li>
                <li class="menu-item">
                    <a href="useful-comments" class="menu-element">
                        <span class="text">Полезни коментари</span>
                    </a>
                </li>
            </ul>
        </li>
        <li class="menu-item has-submenu">
            <a href="#" class="menu-element">
                <span class="text">Рейтинг Б</span>
            </a>
            <ul class="submenu">
                <li class="menu-item back-menu-icon">
                    <div class="menu-element">
                        <i class="fa fa-angle-left" aria-hidden="true"></i>
                        <span class="text">назад</span>
                    </div>
                </li>
                <li class="menu-item">
                    <a href="rating-history" class="menu-element">
                        <span class="text">Рейтинг История</span>
                    </a>
                </li>
                <li class="menu-item">
                    <a href="rating-history-month" class="menu-element">
                        <span class="text">Рейтинг История Месец</span>
                    </a>
                </li>
                <li class="menu-item">
                    <a href="photopis" class="menu-element">
                        <span class="text">Фотопис</span>
                    </a>
                </li>
            </ul>
        </li>
        <li class="menu-item has-submenu">
            <a href="forum-all-topics" class="menu-element">
                <span class="text">Форум</span>
            </a>
            <ul class="submenu">
                <li class="menu-item back-menu-icon">
                    <div class="menu-element">
                        <i class="fa fa-angle-left" aria-hidden="true"></i>
                        <span class="text">назад</span>
                    </div>
                </li>
                <li class="menu-item">
                    <a href="forum-all-topics" class="menu-element">
                        <span class="text">Всички теми</span>
                    </a>
                </li>
                <li class="menu-item">
                    <a href="forum-topic" class="menu-element">
                        <span class="text">Тема</span>
                    </a>
                </li>
                <li class="menu-item">
                    <a href="forum-new-topic" class="menu-element">
                        <span class="text">Нова тема</span>
                    </a>
                </li>
                <li class="menu-item">
                    <a href="forum-fest" class="menu-element">
                        <span class="text">Фест</span>
                    </a>
                </li>
                <li class="menu-item">
                    <a href="photopis-view" class="menu-element">
                        <span class="text">Фотопис преглед</span>
                    </a>
                </li>
                <li class="menu-item">
                    <a href="photopis-edit" class="menu-element">
                        <span class="text">Фотопис редакция</span>
                    </a>
                </li>
                <li class="menu-item">
                    <a href="camera-item-view" class="menu-element">
                        <span class="text">Преглед на камера</span>
                    </a>
                </li>
            </ul>
        </li>
        <li class="menu-item has-submenu">
            <a href="bazar" class="menu-element">
                <span class="text">Базар</span>
            </a>
            <ul class="submenu">
                <li class="menu-item back-menu-icon">
                    <div class="menu-element">
                        <i class="fa fa-angle-left" aria-hidden="true"></i>
                        <span class="text">назад</span>
                    </div>
                </li>
                <li class="menu-item">
                    <a href="group" class="menu-element">
                        <span class="text">Група</span>
                    </a>
                </li>
                <li class="menu-item">
                    <a href="post-event" class="menu-element">
                        <span class="text">Пост Галерия</span>
                    </a>
                </li>
                <li class="menu-item">
                    <a href="bazar" class="menu-element">
                        <span class="text">Базар</span>
                    </a>
                </li>
                <li class="menu-item">
                    <a href="bazar-view-ad" class="menu-element">
                        <span class="text">Обява</span>
                    </a>
                </li>
                <li class="menu-item">
                    <a href="bazar-add-ad" class="menu-element">
                        <span class="text">Добави обява</span>
                    </a>
                </li>
            </ul>
        </li>
        <li class="current menu-item has-submenu">
            <a href="#" class="menu-element">
                <span class="text">Магазин</span>
            </a>
            <ul class="submenu">
                <li class="menu-item back-menu-icon">
                    <div class="menu-element">
                        <i class="fa fa-angle-left" aria-hidden="true"></i>
                        <span class="text">назад</span>
                    </div>
                </li>
                <li class="menu-item">
                    <a href="store" class="menu-element">
                        <span class="text">Грид</span>
                    </a>
                </li>
                <li class="menu-item">
                    <a href="store-item" class="menu-element">
                        <span class="text">Продукт</span>
                    </a>
                </li>
                <li class="menu-item">
                    <a href="store-cart-1" class="menu-element">
                        <span class="text">Поръчка първа страница</span>
                    </a>
                </li>
                <li class="menu-item">
                    <a href="store-cart-3" class="menu-element">
                        <span class="text">Поръчка Последна страница</span>
                    </a>
                </li>
            </ul>
        </li>
        <li class="menu-item">
            <a href="#" class="menu-element" data-keyboard="true" data-toggle="modal" data-target="#modalUploadPhoto">
                <span class="text">Качи</span>
            </a>
        </li>
    </ul>
</div>
