<div class="modal fade in" id="modalUploadPhoto" role="dialog" tabindex='-1'>
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-xs-9 col-sm-6 col-md-6 col-lg-6">
                            <h2 class="head">Качване на снимка</h2>
                        </div>
                        <div class="col-xs-3 col-sm-6 col-md-6 col-lg-6 text-right">
                            <button type="button" class="close-modal" data-dismiss="modal">
                                <i class="fa fa-times" aria-hidden="true"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <!--change step-1 to step-2 to step-3 when you are going through the steps-->
            <div class="modal-body step-2">
                <div class="container-fluid">
                    <!--add class hidden to step-1 to show step-2-->
                    <div class="step-1 hidden">
                        <div class="row">
                            <div class="col-md-offset-4 col-md-4">
                                <div class="upload-photo-notice">
                                    <span>Преди да качите снимка, не забравяйте:</span>
                                    <ul>
                                        <li>* Без лога</li>
                                        <li>* Без рамки</li>
                                        <li>* Маркирайте снимката 18+ ако съдържа голо тяло</li>
                                    </ul>
                                </div>
                                <div class="form-wrap">
                                    <div class="form-group">
                                        <div class="select-new-photo">
                                            <button class="btn btn-block btn-primary btn-upload-photo">
                                                <input type="file" class="upload-new-photo" name="upload"/>
                                                <span class="btn-content">
                                                    <i class="fa fa-cloud-upload" aria-hidden="true"></i>
                                                    <span class="text">Избери снимка</span>
                                                </span>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-center">
                                <ul class="links">
                                    <li>
                                        <span class="text text-primary">... или довлачете и пуснете файла тук</span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!--add class hidden to step-2 to show step-3-->
                    <div class="step-2">
                        <div class="row">
                            <div class="col-md-offset-4 col-md-4">
                                <!--add class 'completed' to uploaded-photo-wrapper on photo uploaded-->
                                <div class="uploaded-photo-wrapper completed">
                                    <button type="button" class="delete-photo">
                                        <i class="fa fa-times" aria-hidden="true"></i>
                                    </button>
                                    <div class="uploaded-photo">
                                        <div class="row-thumb-photos">
                                            <div class="photo-wrapper">
                                                <a href="#" class="photo">
                                                    <div class="thumb-photo"
                                                         style="background-image: url('../images/photos/photo_05.jpeg')">
                                                        Ivan ivanov
                                                    </div>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="uploaded-photo-overlay" style="left: 100%;">
                                        <div class="photo-overlay"></div>
                                    </div>
                                </div>
                                <!--add class completed to btn-photo-uploaded on photo uploaded-->
                                <button class="btn btn-block btn-primary btn-photo-uploaded completed">
                                    <span class="text">продължи</span>
                                </button>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-center">
                                <!--add class completed to upload-photo-notice on photo uploaded-->
                                <div class="upload-photo-notice completed">
                                    <span>Снимката се качва.</span>
                                    <span>Моля изчакайте ...</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="step-3 hidden">
                        <div class="row">
                            <div class="col-lg-4">
                                <div class="main-uploaded-photo">
                                    <div class="row-thumb-photos">
                                        <div class="photo-wrapper">
                                            <a href="#" class="photo">
                                                <div class="thumb-photo"
                                                     style="background-image: url('../images/photos/photo_05.jpeg')">
                                                    Ivan ivanov
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <button class="btn btn-sm btn-block btn-bordered btn-upload-big-photo">
                                    <span class="text">Качи голяма снимка</span>
                                </button>
                                <button class="btn btn-block btn-bordered btn-add-location">
                                <span class="btn-content">
                                    <i class="fa fa-map-marker" aria-hidden="true"></i>
                                    <span class="text">Добави местоположение</span>
                                </span>
                                </button>
                            </div>
                            <div class="col-lg-8">
                                <div class="form-wrap">
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <div class="series-of-photos">
                                                <div class="form-group">
                                                    <label for="photo-title">добави серия от Снимки *</label>
                                                </div>
                                                <div class="photo-series-wrapper">
                                                    <!--add class 'completed' to uploaded-photo-wrapper on photo uploaded-->
                                                    <div class="uploaded-photo-wrapper completed">
                                                        <button type="button" class="delete-photo">
                                                            <i class="fa fa-times" aria-hidden="true"></i>
                                                        </button>
                                                        <div class="uploaded-photo">
                                                            <div class="row-thumb-photos">
                                                                <div class="photo-wrapper">
                                                                    <a href="#" class="photo">
                                                                        <div class="thumb-photo"
                                                                             style="background-image: url('../images/photos/photo_05.jpeg')">
                                                                            Ivan ivanov
                                                                        </div>
                                                                    </a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="uploaded-photo-overlay" style="left: 100%;">
                                                            <div class="photo-overlay"></div>
                                                        </div>
                                                    </div>
                                                    <!--add class 'completed' to uploaded-photo-wrapper on photo uploaded-->
                                                    <div class="uploaded-photo-wrapper completed">
                                                        <button type="button" class="delete-photo">
                                                            <i class="fa fa-times" aria-hidden="true"></i>
                                                        </button>
                                                        <div class="uploaded-photo">
                                                            <div class="row-thumb-photos">
                                                                <div class="photo-wrapper">
                                                                    <a href="#" class="photo">
                                                                        <div class="thumb-photo"
                                                                             style="background-image: url('../images/photos/photo_05.jpeg')">
                                                                            Ivan ivanov
                                                                        </div>
                                                                    </a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="uploaded-photo-overlay" style="left: 100%;">
                                                            <div class="photo-overlay"></div>
                                                        </div>
                                                    </div>
                                                    <!--add class 'completed' to uploaded-photo-wrapper on photo uploaded-->
                                                    <div class="uploaded-photo-wrapper completed">
                                                        <button type="button" class="delete-photo">
                                                            <i class="fa fa-times" aria-hidden="true"></i>
                                                        </button>
                                                        <div class="uploaded-photo">
                                                            <div class="row-thumb-photos">
                                                                <div class="photo-wrapper">
                                                                    <a href="#" class="photo">
                                                                        <div class="thumb-photo"
                                                                             style="background-image: url('../images/photos/photo_05.jpeg')">
                                                                            Ivan ivanov
                                                                        </div>
                                                                    </a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="uploaded-photo-overlay" style="left: 100%;">
                                                            <div class="photo-overlay"></div>
                                                        </div>
                                                    </div>
                                                    <!--add class 'completed' to uploaded-photo-wrapper on photo uploaded-->
                                                    <div class="uploaded-photo-wrapper">
                                                        <button type="button" class="delete-photo">
                                                            <i class="fa fa-times" aria-hidden="true"></i>
                                                        </button>
                                                        <div class="uploaded-photo">
                                                            <div class="row-thumb-photos">
                                                                <div class="photo-wrapper">
                                                                    <a href="#" class="photo">
                                                                        <div class="thumb-photo"
                                                                             style="background-image: url('../images/photos/photo_05.jpeg')">
                                                                            Ivan ivanov
                                                                        </div>
                                                                    </a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="uploaded-photo-overlay" style="left: 65%;">
                                                            <div class="photo-overlay"></div>
                                                        </div>
                                                    </div>
                                                    <div class="uploaded-photo-wrapper select-new-photo">
                                                        <div class="uploaded-photo">
                                                            <div class="add-new">
                                                                <i class="fa fa-plus" aria-hidden="true"></i>
                                                                <input type="file" id="upload-photo" name="upload"/>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label for="photo-title">Заглавие</label>
                                                <input type="text" id="photo-title" name="photo-title"
                                                       class="form-control">
                                            </div>
                                            <div class="form-group description">
                                                <label for="description">описание</label>
                                                <textarea name="" id="" cols="30" rows="10"
                                                          class="form-control"></textarea>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-6">
                                            <div class="form-group">
                                                <label>избери Категория</label>
                                                <select data-live-search="true" title="-- Избери категория --">
                                                    <option data-tokens="Сватбена фотография">Сватбена фотография
                                                    </option>
                                                    <option data-tokens="Семейни сесии">Семейни сесии</option>
                                                    <option data-tokens="Интериор">Интериор</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-lg-6">
                                            <div class="form-group">
                                                <label>добави в албум</label>
                                                <select data-live-search="true" title="-- Избери албум --">
                                                    <option data-tokens="Сватбена фотография">Сватбена фотография
                                                    </option>
                                                    <option data-tokens="Семейни сесии">Семейни сесии</option>
                                                    <option data-tokens="Интериор">Интериор</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-6">
                                            <div class="form-group">
                                                <label>избери лиценз</label>
                                                <select data-live-search="true" title="-- Избери лиценз --">
                                                    <option data-tokens="Сватбена фотография">Сватбена фотография
                                                    </option>
                                                    <option data-tokens="Семейни сесии">Семейни сесии</option>
                                                    <option data-tokens="Интериор">Интериор</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-lg-6">
                                            <div class="form-group">
                                                <label>кой може да коментира снимката?</label>
                                                <select data-live-search="true" title="-- Избери --">
                                                    <option data-tokens="Сватбена фотография">Сватбена фотография
                                                    </option>
                                                    <option data-tokens="Семейни сесии">Семейни сесии</option>
                                                    <option data-tokens="Интериор">Интериор</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <div class="form-group">
                                                <label>ключови думи</label>
                                                <input type="text" class="form-control" data-role="tagsinput">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-6">
                                            <div class="form-group">
                                                <div class="form-group-header">
                                                    <label class="control-label">Марка</label>
                                                    <a href="#">Предложи нова марка</a>
                                                </div>
                                                <div class="form-group-body">
                                                    <div class="filter-option suggest input">
                                                        <select data-live-search="true" title="-- Избери марка --">
                                                            <option data-tokens="България">България</option>
                                                            <option data-tokens="Испания">Испания</option>
                                                            <option data-tokens="Италия">Италия</option>
                                                            <option data-tokens="Холандия">Холандия</option>
                                                        </select>
                                                        <input type="text" name="suggest-new-brand-camera-name"
                                                               class="form-control" required>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-6">
                                            <div class="form-group model">
                                                <div class="form-group-header">
                                                    <label class="control-label">Модел</label>
                                                    <a href="#">Предложи нов модел</a>
                                                </div>
                                                <div class="form-group-body">
                                                    <div class="filter-option suggest input">
                                                        <select data-live-search="true" title="-- Избери модел --">
                                                            <option data-tokens="България">България</option>
                                                            <option data-tokens="Испания">Испания</option>
                                                            <option data-tokens="Италия">Италия</option>
                                                            <option data-tokens="Холандия">Холандия</option>
                                                        </select>
                                                        <input type="text" name="suggest-new-brand-camera-model-name"
                                                               class="form-control" required>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <label>EXIF информация</label>
                                        </div>
                                    </div>
                                    <div class="exif-info">
                                        <div class="form-group">
                                            <div class="row">
                                                <div class="col-lg-6">
                                                    <div class="row-info">
                                                        <span class="label">Производител:</span>
                                                        <span class="text">NIKON CORPORATION</span>
                                                    </div>
                                                    <div class="row-info">
                                                        <span class="label">Модел:</span>
                                                        <span class="text">NIKON D750</span>
                                                    </div>
                                                    <div class="row-info">
                                                        <span class="label">Бленда:</span>
                                                        <span class="text">11</span>
                                                    </div>
                                                    <div class="row-info">
                                                        <span class="label">Скорост:</span>
                                                        <span class="text">1/80 sec.</span>
                                                    </div>
                                                    <div class="row-info">
                                                        <span class="label">Фокусно разст.:</span>
                                                        <span class="text">200 mm</span>
                                                    </div>
                                                    <div class="row-info">
                                                        <span class="label">Светкавица:</span>
                                                        <span
                                                            class="text">Flash did not fire, compulsory flash mode</span>
                                                    </div>
                                                </div>
                                                <div class="col-lg-6">
                                                    <div class="row-info">
                                                        <span class="label">ISO:</span>
                                                        <span class="text">100</span>
                                                    </div>
                                                    <div class="row-info">
                                                        <span class="label">Дата:</span>
                                                        <span class="text">2017-05-26 06:41:19</span>
                                                    </div>
                                                    <div class="row-info">
                                                        <span class="label">Режим:</span>
                                                        <span class="text">Aperture priority</span>
                                                    </div>
                                                    <div class="row-info">
                                                        <span class="label">Метод измерване:</span>
                                                        <span class="text">Pattern</span>
                                                    </div>
                                                    <div class="row-info">
                                                        <span class="label">Дата на качване:</span>
                                                        <span class="text">преди 1 ден</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <ul class="rules-confirmations">
                                                <li>
                                                    <div class="checkbox custom-checkbox">
                                                        <span class="character-checkbox"></span>
                                                        <span class="label">Съгласен съм снимката ми да участва в <a
                                                                href="#">печатен Албум 2017г</a></span>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="checkbox custom-checkbox">
                                                        <span class="character-checkbox"></span>
                                                        <span class="label">Съгласен съм снимката ми да участва в <a
                                                                href="#">принт секцията</a></span>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="checkbox custom-checkbox">
                                                        <span class="character-checkbox"></span>
                                                        <span class="label">В снимката има голо съдържание <a href="#">18+</a></span>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="checkbox custom-checkbox">
                                                        <span class="character-checkbox"></span>
                                                        <span class="label">Премести към албум нови предложения</span>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-9">
                                <button class="btn btn-bordered btn-skip">
                                    <span class="text">Пропусни тази стъпка</span>
                                </button>
                            </div>
                            <div class="col-lg-3">
                                <button class="btn btn-block btn-primary btn-upload-photo">
                                    <span class="text text-uppercase">качи</span>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
