<div class="most-active-users">
    <h3 class="head-label">Най-активни потребители</h3>
    <ul class="users-list">
        <li class="user">
            <div class="main-details">
                <div class="photo-wrapper">
                    <a href="#" class="photo" style="background-image: url('../images/photos/user1.jpg')">
                        <span class="text">Христофор Герасимов Господинов</span>
                    </a>
                </div>
                <div class="user-info">
                    <a href="#" class="user-name">Николас Вега</a>
                    <div class="user-publications">
                        <span class="count">245</span>
                        <span class="text">публикации</span>
                    </div>
                </div>
            </div>
        </li>
        <li class="user">
            <div class="main-details">
                <div class="photo-wrapper">
                    <a href="#" class="photo" style="background-image: url('../images/photos/user1.jpg')">
                        <span class="text">Христофор Герасимов Господинов</span>
                    </a>
                </div>
                <div class="user-info">
                    <a href="#" class="user-name">Николас Вега</a>
                    <div class="user-publications">
                        <span class="count">245</span>
                        <span class="text">публикации</span>
                    </div>
                </div>
            </div>
        </li>
        <li class="user">
            <div class="main-details">
                <div class="photo-wrapper">
                    <a href="#" class="photo" style="background-image: url('../images/photos/user1.jpg')">
                        <span class="text">Христофор Герасимов Господинов</span>
                    </a>
                </div>
                <div class="user-info">
                    <a href="#" class="user-name">Николас Вега</a>
                    <div class="user-publications">
                        <span class="count">245</span>
                        <span class="text">публикации</span>
                    </div>
                </div>
            </div>
        </li>
        <li class="user">
            <div class="main-details">
                <div class="photo-wrapper">
                    <a href="#" class="photo" style="background-image: url('../images/photos/user1.jpg')">
                        <span class="text">Христофор Герасимов Господинов</span>
                    </a>
                </div>
                <div class="user-info">
                    <a href="#" class="user-name">Николас Вега</a>
                    <div class="user-publications">
                        <span class="count">245</span>
                        <span class="text">публикации</span>
                    </div>
                </div>
            </div>
        </li>
        <li class="user">
            <div class="main-details">
                <div class="photo-wrapper">
                    <a href="#" class="photo" style="background-image: url('../images/photos/user1.jpg')">
                        <span class="text">Христофор Герасимов Господинов</span>
                    </a>
                </div>
                <div class="user-info">
                    <a href="#" class="user-name">Николас Вега</a>
                    <div class="user-publications">
                        <span class="count">245</span>
                        <span class="text">публикации</span>
                    </div>
                </div>
            </div>
        </li>
        <li class="user">
            <div class="main-details">
                <div class="photo-wrapper">
                    <a href="#" class="photo" style="background-image: url('../images/photos/user1.jpg')">
                        <span class="text">Христофор Герасимов Господинов</span>
                    </a>
                </div>
                <div class="user-info">
                    <a href="#" class="user-name">Николас Вега</a>
                    <div class="user-publications">
                        <span class="count">245</span>
                        <span class="text">публикации</span>
                    </div>
                </div>
            </div>
        </li>
        <li class="user">
            <div class="main-details">
                <div class="photo-wrapper">
                    <a href="#" class="photo" style="background-image: url('../images/photos/user1.jpg')">
                        <span class="text">Христофор Герасимов Господинов</span>
                    </a>
                </div>
                <div class="user-info">
                    <a href="#" class="user-name">Николас Вега</a>
                    <div class="user-publications">
                        <span class="count">245</span>
                        <span class="text">публикации</span>
                    </div>
                </div>
            </div>
        </li>
        <li class="user">
            <div class="main-details">
                <div class="photo-wrapper">
                    <a href="#" class="photo" style="background-image: url('../images/photos/user1.jpg')">
                        <span class="text">Христофор Герасимов Господинов</span>
                    </a>
                </div>
                <div class="user-info">
                    <a href="#" class="user-name">Николас Вега</a>
                    <div class="user-publications">
                        <span class="count">245</span>
                        <span class="text">публикации</span>
                    </div>
                </div>
            </div>
        </li>
    </ul>
</div>
