<div class="share-this-event-status">
    <i class="fa fa-share-alt" aria-hidden="true"></i>
    <div class="share-this-wrapper">
        <div class="share-this">
            <i class="fa fa-sort-asc" aria-hidden="true"></i>
            <ul class="share-social-medias">
                <li class="social-media facebook">
                    <i class="fa fa-facebook-official" aria-hidden="true"></i>
                </li>
                <li class="social-media google-plus">
                    <i class="fa fa-google-plus-square" aria-hidden="true"></i>
                </li>
                <li class="social-media pinterest">
                    <i class="fa fa-pinterest-square" aria-hidden="true"></i>
                </li>
                <li class="social-media url">
                    <i class="fa fa-link" aria-hidden="true"></i>
                </li>
            </ul>
        </div>
    </div>
</div>
