<div class="upcoming-events is-hidden">
    <header class="ue-header">
        <h4 class="ue-head-label">Предстоящо събитие</h4>
        <i class="fa fa-chevron-up" aria-hidden="true"></i>
    </header>
    <article class="ue-content">
        <img src="../images/upcoming_news.jpg" alt="" class="ue-photo">
        <p>На 05.09.2017 г. в 18:30 ч. "Иван Вазов".</p>
        <button class="btn btn-md btn-default ue-button">
            <span class="text">прочети повече</span>
        </button>
    </article>
</div>
