<div class="carousel-container">
    <div class="carousel">
        <!-- SLIDES -->
        <button class="btn btn-md btn-success btn-back" onclick="goBack()">
            <i class="fa fa-angle-left" aria-hidden="true"></i>
            <span class="text">назад</span>
        </button>
        <div class="slides">
            <div class="items">
                <div class="item">
                    <div class="image" style="background-image:url(http://audeficheux.com/projects/carousel/src/medias/selah.png)"></div>
                    <p class="artist">
                        <a href="#">SELAH SUE</a>
                    </p>
                </div>

                <div class="item">
                    <div class="image"
                         style="background-image:url(http://audeficheux.com/projects/carousel/src/medias/bruno.png)"></div>
                    <p class="artist">
                        <a href="#">BRUNO MARS</a>
                    </p>
                </div>
                <div class="item">
                    <div class="image"
                         style="background-image:url(http://audeficheux.com/projects/carousel/src/medias/calvin.png)"></div>
                    <p class="artist">
                        <a href="">CALVIN HARRIS</a>
                    </p>
                </div>
                <div class="item">
                    <div class="image"
                         style="background-image:url(http://audeficheux.com/projects/carousel/src/medias/onerep.png)"></div>
                    <p class="artist"><a href="">ONE REPUBLIC</a></p>
                </div>
                <div class="item">
                    <div class="image"
                         style="background-image:url(http://audeficheux.com/projects/carousel/src/medias/ellie.png)"></div>
                    <p class="artist"><a href="">ELLIE GOULDING</a></p>
                </div>
                <div class="item">
                    <div class="image"
                         style="background-image:url(http://audeficheux.com/projects/carousel/src/medias/thomston.png)"></div>
                    <p class="artist">
                        <a href="">THOMSTON</a>
                    </p>
                </div>
                <div class="item">
                    <div class="image"
                         style="background-image:url(http://audeficheux.com/projects/carousel/src/medias/halsey.png)"></div>
                    <p class="artist">
                        <a href="">HALSEY</a>
                    </p>
                </div>
                <div class="item">
                    <div class="image"
                         style="background-image:url(http://audeficheux.com/projects/carousel/src/medias/frances.png)"></div>
                    <p class="artist">
                        <a href="">FRANCES</a>
                    </p>
                </div>
            </div>
        </div>
        <div class="event-status-tools-wrapper">
            <div class="event-status-tools">
                <a class="add-to-favorites added">
                    <i class="fa fa-heart" aria-hidden="true"></i>
                    <span class="text">12</span>
                </a>
                <% include ./who_likes_this.ejs %>
                <% include ./share_this_event_status.ejs %>
            </div>
        </div>
        <!-- SIBLINGS (PREVIOUS - NEXT) -->
        <div class="siblings">
            <a href="#" class="sibling prev">
                <i class="fa fa-angle-left" aria-hidden="true"></i>
            </a>
            <a href="#" class="play"></a>
            <a href="#" class="sibling next">
                <i class="fa fa-angle-right" aria-hidden="true"></i>
            </a>
        </div>
        <div class="seek-bar">
            <div class="progress-bar"></div>
        </div>
    </div>
    <div class="choice">
        <div class="title">
            <p>SONGS</p>
        </div>
        <div class="tracks">
            <div class="track 1">
                <div class="number">1</div>
                <div class="name"><p>Selah Sue</p>
                    <p class="song">Feel</p></div>
                <div class="speakers"></div>
            </div>
            <div class="track 2">
                <div class="number">2</div>
                <div class="name"><p>Bruno Mars</p>
                    <p class="song">Runaway Baby</p></div>
                <div class="speakers invisible"></div>
            </div>
            <div class="track 3">
                <div class="number">3</div>
                <div class="name"><p>Calvin Harris</p>
                    <p class="song">Sweet Nothing</p></div>
                <div class="speakers invisible"></div>
            </div>
            <div class="track 4">
                <div class="number">4</div>
                <div class="name"><p>One Republic</p>
                    <p class="song">Preacher</p></div>
                <div class="speakers invisible"></div>
            </div>
            <div class="track 5">
                <div class="number">5</div>
                <div class="name"><p>Ellie Goulding</p>
                    <p class="song">Starry Eyed</p></div>
                <div class="speakers invisible"></div>
            </div>
            <div class="track 6">
                <div class="number">6</div>
                <div class="name"><p>Thomston</p>
                    <p class="song">Brain Dead</p></div>
                <div class="speakers invisible"></div>
            </div>
            <div class="track 7">
                <div class="number">7</div>
                <div class="name"><p>Halsey</p>
                    <p class="song">New Americana</p></div>
                <div class="speakers invisible"></div>
            </div>
            <div class="track 8">
                <div class="number">8</div>
                <div class="name"><p>Frances</p>
                    <p class="song">Grow</p></div>
                <div class="speakers invisible"></div>
            </div>
        </div>
    </div>
    <audio class="music">
        <source src="http://audeficheux.com/projects/carousel/src/medias/0.mp3" type="audio/mpeg">
        Your browser doesn't support video API
    </audio>
</div>
