<div class="who-likes-this-wrapper">
    <div class="who-like-this">
        <i class="fa fa-sort-asc" aria-hidden="true"></i>
        <span class="head-label">Ти и 2 други харесват това</span>
        <div class="who-like-this-persons-wrapper">
            <ul class="who-like-this-persons">
                <li class="person-who-like">
                    <div class="main-details">
                        <div class="photo-wrapper">
                            <a href="#" class="photo" style="background-image: url('../images/photos/user5.jpg')">
                                <span class="text">Христофор Герасимов Господинов</span>
                            </a>
                        </div>
                        <a href="#" class="username">Светозар Георгиев</a>
                    </div>
                </li>
                <li class="person-who-like">
                    <div class="main-details">
                        <div class="photo-wrapper">
                            <a href="#" class="photo" style="background-image: url('../images/photos/user5.jpg')">
                                <span class="text">Христофор Герасимов Господинов</span>
                            </a>
                        </div>
                        <a href="#" class="username">Светозар Георгиев</a>
                    </div>
                </li>
                <li class="person-who-like">
                    <div class="main-details">
                        <div class="photo-wrapper">
                            <a href="#" class="photo" style="background-image: url('../images/photos/user5.jpg')">
                                <span class="text">Христофор Герасимов Господинов</span>
                            </a>
                        </div>
                        <a href="#" class="username">Светозар Георгиев</a>
                    </div>
                </li>
                <li class="person-who-like">
                    <div class="main-details">
                        <div class="photo-wrapper">
                            <a href="#" class="photo" style="background-image: url('../images/photos/user5.jpg')">
                                <span class="text">Христофор Герасимов Господинов</span>
                            </a>
                        </div>
                        <a href="#" class="username">Светозар Георгиев</a>
                    </div>
                </li>
                <li class="person-who-like">
                    <div class="main-details">
                        <div class="photo-wrapper">
                            <a href="#" class="photo" style="background-image: url('../images/photos/user5.jpg')">
                                <span class="text">Христофор Герасимов Господинов</span>
                            </a>
                        </div>
                        <a href="#" class="username">Светозар Георгиев</a>
                    </div>
                </li>
                <li class="person-who-like">
                    <div class="main-details">
                        <div class="photo-wrapper">
                            <a href="#" class="photo" style="background-image: url('../images/photos/user5.jpg')">
                                <span class="text">Христофор Герасимов Господинов</span>
                            </a>
                        </div>
                        <a href="#" class="username">Светозар Георгиев</a>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>
