<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>feed-photo-forum.herokuapp.com</title>
    <link rel="icon" href="favicon.ico">
    <% include ./env/production.ejs %>
</head>
<body class="gallery-page">
<header class="top-header">
    <div class="container-fluid">
        <div class="row">
            <% include includes/desktop_top_header_logged.ejs %>
        </div>
    </div>
    <% include includes/menu_mobile.ejs %>
</header>
<div class="gallery-wrapper">
    <% include includes/user_post_gallery.ejs %>
</div>
<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-9 col-lg-9">
            <div class="event-status-wrapper">
                <div class="event-status gallery">
                    <header class="header">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10">
                                    <div class="main-details">
                                        <div class="photo-wrapper">
                                            <a href="#" class="photo"
                                               style="background-image: url('../images/photos/user2.jpg')">
                                                <span class="text">Христофор Герасимов Господинов</span>
                                            </a>
                                        </div>
                                    </div>
                                    <a href="#" class="user-name">Николас Вега</a>
                                    <span class="text">сподели</span>
                                    <a href="#" class="kind-of-media">галерия:</a>
                                </div>
                                <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                                    <div class="event-status-options">
                                        <div class="btn-group">
                                            <button type="button" class="btn btn-default dropdown-toggle"
                                                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                <i class="fa fa-ellipsis-h" aria-hidden="true"></i>
                                            </button>
                                            <ul class="dropdown-menu">
                                                <li><a href="#" data-keyboard="true" data-toggle="modal"
                                                       data-target="#modalConfirmAction">Action</a></li>
                                                <li><a href="#">Another action</a></li>
                                                <li><a href="#">Something else here</a></li>
                                                <li role="separator" class="divider"></li>
                                                <li><a href="#">Separated link</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </header>
                    <div class="user-event-status">
                        <div class="event-status-text">
                            <p>Заповядайте на изложба на 26 октомври в “Червената къща”. Това са част от снимките</p>
                        </div>
                    </div>
                    <footer class="footer">
                        <div class="middle-footer">
                            <% include includes/event_status_comments.ejs %>
                        </div>
                        <div class="bottom-footer">
                            <div class="your-comment-wrapper">
                                <div class="type-your-comment">
                                    <input type="text" class="type-comment" placeholder="Напиши коментар ...">
                                </div>
                                <div class="share-post-tools">
                                    <div class="tool emotions">
                                        <i class="fa fa-smile-o" aria-hidden="true"></i>
                                    </div>
                                </div>
                            </div>
                            <button class="btn btn-md btn-success submit-comment">
                                <span class="text">Коментирай</span>
                            </button>
                        </div>
                    </footer>
                </div>
            </div>
        </div>
        <aside class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
            <% include includes/most_active_users.ejs %>
            <div class="advertising">
                <img src="../images/banner_bottom.jpg" alt="">
            </div>
        </aside>
    </div>
</div>
<% include includes/footer.ejs %>
<% include includes/upcoming_events.ejs %>
<% include includes/photo_swipe.ejs %>
</body>
</html>
