<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>feed-photo-forum.herokuapp.com</title>

    <link rel="icon" href="favicon.ico">

    <% include ./env/production.ejs %>
</head>
<body class="home-page post-event-page">
<header class="top-header">
    <div class="container-fluid">
        <div class="row">
            <% include includes/desktop_top_header_logged.ejs %>
        </div>
    </div>

    <div class="main-header" style="background-image: url('../images/header_background.png')">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <h1 class="main-title">Фото Форум Фийд</h1>
                    <h2 class="submain-title">Място за фотографски групи и дискусии</h2>
                </div>
            </div>
        </div>
    </div>
    <% include includes/menu_mobile.ejs %>
</header>
<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-9 col-lg-9">
            <div class="event-status-wrapper">
                <div class="event-status gallery">
                    <header class="header">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10">
                                    <div class="main-details">
                                        <div class="photo-wrapper">
                                            <a href="#" class="photo"
                                               style="background-image: url('../images/photos/user2.jpg')">
                                                <span class="text">Христофор Герасимов Господинов</span>
                                            </a>
                                        </div>
                                    </div>
                                    <a href="#" class="user-name">Николас Вега</a>
                                    <span class="text">сподели</span>
                                    <a href="#" class="kind-of-media">галерия:</a>
                                </div>
                                <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                                    <div class="event-status-options">
                                        <div class="btn-group">
                                            <button type="button" class="btn btn-default dropdown-toggle"
                                                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                <i class="fa fa-ellipsis-h" aria-hidden="true"></i>
                                            </button>
                                            <ul class="dropdown-menu">
                                                <li><a href="#" data-keyboard="true" data-toggle="modal"
                                                       data-target="#modalConfirmAction">Action</a></li>
                                                <li><a href="#">Another action</a></li>
                                                <li><a href="#">Something else here</a></li>
                                                <li role="separator" class="divider"></li>
                                                <li><a href="#">Separated link</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </header>
                    <div class="user-event-status">
                        <div class="event-status-text">
                            <p>Заповядайте на изложба на 26 октомври в “Червената къща”. Това са част от снимките
                                <i class="happy" aria-hidden="true"></i>
                                <i class="happy-1" aria-hidden="true"></i>
                                <i class="happy-2" aria-hidden="true"></i>
                                <i class="happy-3" aria-hidden="true"></i>
                            </p>
                        </div>
                        <div class="event-status-shared-content">
                            <div class="media">
                                <div class="media-content">
                                    <ul class="user-posted-gallery">
                                        <li class="list-posted-photo">
                                            <div class="row-thumb-photos">
                                                <div class="photo-wrapper">
                                                    <a href="#" class="photo">
                                                        <div class="thumb-photo"
                                                             style="background-image: url('../images/user_posted_gallery/photo_4.jpg')"></div>
                                                    </a>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="list-posted-photo">
                                            <div class="row-thumb-photos">
                                                <div class="photo-wrapper">
                                                    <a href="#" class="photo">
                                                        <div class="thumb-photo"
                                                             style="background-image: url('../images/user_posted_gallery/photo_5.jpg')"></div>
                                                    </a>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="list-posted-photo">
                                            <div class="row-thumb-photos">
                                                <div class="photo-wrapper">
                                                    <a href="#" class="photo">
                                                        <div class="thumb-photo"
                                                             style="background-image: url('../images/user_posted_gallery/photo_6.jpg')"></div>
                                                    </a>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <footer class="footer">
                        <div class="top-footer">
                            <div class="event-status-tools">
                                <a class="add-to-favorites added">
                                    <i class="fa fa-heart" aria-hidden="true"></i>
                                    <span class="text">12</span>
                                </a>
                                <% include includes/who_likes_this.ejs %>
                                <% include includes/share_this_event_status.ejs %>
                            </div>
                            <span class="comments-counter">2 коментара</span>
                        </div>
                        <div class="middle-footer">
                            <% include includes/event_status_comments.ejs %>
                        </div>
                        <div class="bottom-footer">
                            <div class="your-comment-wrapper">
                                <div class="type-your-comment">
                                    <input type="text" class="type-comment" placeholder="Напиши коментар ...">
                                </div>
                                <div class="share-post-tools">
                                    <div class="tool emotions">
                                        <i class="fa fa-smile-o" aria-hidden="true"></i>
                                        <div class="emotions-icons-wrapper">
                                            <i class="fa fa-sort-asc" aria-hidden="true"></i>
                                            <ul class="emotions-icons">
                                                <li class="emoticon">
                                                    <i class="angel" aria-hidden="true"></i>
                                                </li>
                                                <li class="emoticon">
                                                    <i class="greed" aria-hidden="true"></i>
                                                </li>
                                                <li class="emoticon">
                                                    <i class="happy" aria-hidden="true"></i>
                                                </li>
                                                <li class="emoticon">
                                                    <i class="happy-1" aria-hidden="true"></i>
                                                </li>
                                                <li class="emoticon">
                                                    <i class="happy-2" aria-hidden="true"></i>
                                                </li>
                                                <li class="emoticon">
                                                    <i class="happy-3" aria-hidden="true"></i>
                                                </li>
                                                <li class="emoticon">
                                                    <i class="happy-4" aria-hidden="true"></i>
                                                </li>
                                                <li class="emoticon">
                                                    <i class="happy-5" aria-hidden="true"></i>
                                                </li>
                                                <li class="emoticon">
                                                    <i class="happy-6" aria-hidden="true"></i>
                                                </li>
                                                <li class="emoticon">
                                                    <i class="happy-7" aria-hidden="true"></i>
                                                </li>
                                                <li class="emoticon">
                                                    <i class="in-love" aria-hidden="true"></i>
                                                </li>
                                                <li class="emoticon">
                                                    <i class="kiss" aria-hidden="true"></i>
                                                </li>
                                                <li class="emoticon">
                                                    <i class="kiss-1" aria-hidden="true"></i>
                                                </li>
                                                <li class="emoticon">
                                                    <i class="laughing" aria-hidden="true"></i>
                                                </li>
                                                <li class="emoticon">
                                                    <i class="laughing-1" aria-hidden="true"></i>
                                                </li>
                                                <li class="emoticon">
                                                    <i class="laughing-2" aria-hidden="true"></i>
                                                </li>
                                                <li class="emoticon">
                                                    <i class="muted" aria-hidden="true"></i>
                                                </li>
                                                <li class="emoticon">
                                                    <i class="nerd" aria-hidden="true"></i>
                                                </li>
                                                <li class="emoticon">
                                                    <i class="angry" aria-hidden="true"></i>
                                                </li>
                                                <li class="emoticon">
                                                    <i class="angry-1" aria-hidden="true"></i>
                                                </li>
                                                <li class="emoticon">
                                                    <i class="arrogant" aria-hidden="true"></i>
                                                </li>
                                                <li class="emoticon">
                                                    <i class="bored" aria-hidden="true"></i>
                                                </li>
                                                <li class="emoticon">
                                                    <i class="confused" aria-hidden="true"></i>
                                                </li>
                                                <li class="emoticon">
                                                    <i class="cool" aria-hidden="true"></i>
                                                </li>
                                                <li class="emoticon">
                                                    <i class="cool-1" aria-hidden="true"></i>
                                                </li>
                                                <li class="emoticon">
                                                    <i class="crying" aria-hidden="true"></i>
                                                </li>
                                                <li class="emoticon">
                                                    <i class="crying-1" aria-hidden="true"></i>
                                                </li>
                                                <li class="emoticon">
                                                    <i class="crying-2" aria-hidden="true"></i>
                                                </li>
                                                <li class="emoticon">
                                                    <i class="cute" aria-hidden="true"></i>
                                                </li>
                                                <li class="emoticon">
                                                    <i class="embarrassed" aria-hidden="true"></i>
                                                </li>
                                                <li class="emoticon">
                                                    <i class="emoji" aria-hidden="true"></i>
                                                </li>
                                                <li class="emoticon">
                                                    <i class="sad" aria-hidden="true"></i>
                                                </li>
                                                <li class="emoticon">
                                                    <i class="sad-1" aria-hidden="true"></i>
                                                </li>
                                                <li class="emoticon">
                                                    <i class="sad-2" aria-hidden="true"></i>
                                                </li>
                                                <li class="emoticon">
                                                    <i class="serious" aria-hidden="true"></i>
                                                </li>
                                                <li class="emoticon">
                                                    <i class="shocked" aria-hidden="true"></i>
                                                </li>
                                                <li class="emoticon">
                                                    <i class="sick" aria-hidden="true"></i>
                                                </li>
                                                <li class="emoticon">
                                                    <i class="sleepy" aria-hidden="true"></i>
                                                </li>
                                                <li class="emoticon">
                                                    <i class="smart" aria-hidden="true"></i>
                                                </li>
                                                <li class="emoticon">
                                                    <i class="surprised" aria-hidden="true"></i>
                                                </li>
                                                <li class="emoticon">
                                                    <i class="surprised-1" aria-hidden="true"></i>
                                                </li>
                                                <li class="emoticon">
                                                    <i class="surprised-2" aria-hidden="true"></i>
                                                </li>
                                                <li class="emoticon">
                                                    <i class="surprised-3" aria-hidden="true"></i>
                                                </li>
                                                <li class="emoticon">
                                                    <i class="surprised-4" aria-hidden="true"></i>
                                                </li>
                                                <li class="emoticon">
                                                    <i class="suspicious" aria-hidden="true"></i>
                                                </li>
                                                <li class="emoticon">
                                                    <i class="tongue" aria-hidden="true"></i>
                                                </li>
                                                <li class="emoticon">
                                                    <i class="vain" aria-hidden="true"></i>
                                                </li>
                                                <li class="emoticon">
                                                    <i class="wink" aria-hidden="true"></i>
                                                </li>
                                                <li class="emoticon">
                                                    <i class="wink-1" aria-hidden="true"></i>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <button class="btn btn-md btn-primary submit-comment">
                                <span class="text">Коментирай</span>
                            </button>
                        </div>
                    </footer>
                </div>
            </div>
        </div>
        <aside class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
            <div class="advertising">
                <img src="../images/banner.jpg" alt="">
            </div>
            <% include includes/most_active_users.ejs %>
        </aside>
    </div>
</div>
<% include includes/footer.ejs %>
<% include includes/upcoming_events.ejs %>
<div class="overlay-background"></div>
<% include includes/photo_swipe.ejs %>
</body>
</html>
