.add-to-favorites {
    padding-right: 15px;
    border-right: 1px solid $color_41;
    margin-right: 15px;
    position: relative;
    @include inline-block;
    @include clearfix;

    i, span {
        float: left;
        display: block;
        color: $color_66;
    }

    .fa {
        margin-right: 10px;
        font-size: 21px;
        line-height: unset;

        &:hover {
            color: $color_6;
        }
    }

    span {
        margin-top: 3px;
        font-size: 18px;

        &.text {
            position: relative;
        }

        &:hover {
            color: $color_6;

            &.who-likes-this-wrapper {
                display: block;
            }
        }
    }

    &:hover {
        cursor: pointer;
    }

    &.added {
        &:hover {
            cursor: pointer;
        }

        .fa {
            color: $color_6;

            &:hover {
                color: $color_66;
            }
        }
    }
}

.who-likes-this-wrapper {
    display: none;
    position: absolute;
    background-color: $color_2;
    top: 35px;
    z-index: 10;

    .who-like-this {
        background-color: $color_36;
        padding: 15px;
        border: 1px solid $color_3;
        width: 230px;
        height: 170px;
        z-index: 100;
        float: none;
        @include border-radius(3px);

        i.fa {
            position: absolute;
            top: -8px;
            left: 35px;
            color: $color_3;
            font-size: 21px;
        }

        .head-label {
            color: $color_66;
            font-size: 14px;
            margin-top: 0;
            margin-bottom: 5px;
            display: block;
            @include roboto-font($light-font, $light-font-weight);
        }

        .who-like-this-persons-wrapper {
            overflow-y: scroll;
            height: 110px;

            .who-like-this-persons {
                margin-bottom: 0;

                .person-who-like {
                    display: block;
                    margin-bottom: 20px;

                    .main-details {
                        display: block;
                        @include clearfix();

                        .photo-wrapper {
                            width: 35px;
                            height: 35px;
                            float: left;
                            margin-right: 15px;
                        }

                        .username {
                            float: left;
                            margin-top: 10px;
                            color: $color_30;
                        }
                    }
                }
            }
        }
    }

    &.active {
        display: block;
    }
}
