.badges-list {
    @include clearfix;

    .badge-item {
        @include clearfix;

        .badge {
            float: left;
            background-color: transparent;
            padding: 0;

            .award-counter {
                display: block;
                margin-top: 8px;
                font-size: 18px;
                @include roboto-font($bold-font, $bold-font-weight);
            }
        }

        .text {
            float: right;
            width: 72px;
            display: block;
            font-size: 12px;
            color: $color_87;
            word-wrap: break-word;
            @include roboto-font($light-font, $light-font-weight);
        }
    }
}
