.btn {
    padding: 10px 15px;
    outline: none;
    text-transform: uppercase;

    &:focus {
        outline: none;
        color: $color_2;
        outline-offset: unset;

        &:active {
            outline: none;
            color: $color_2;
        }
    }

    &.close {
        @include opacity(1);
    }

    &.btn-close {
        outline: none;
        border: none;
        padding: 0;
        background: unset;
        line-height: 1em;

        i.fa {
            font-size: 28px;
        }
    }

    &.btn-sm {
        line-height: 1.4em;
    }

    &.btn-default {
        &:focus {
            background-color: $color_2;
        }
    }

    &.btn-bordered {
        padding-right: 20px;
        padding-left: 20px;
        color: $color_6;
        border: 1px solid $color_6;
        background-color: $color_2;

        &:focus,
        &:hover {
            color: $color_2;
            background-color: $color_6;
        }

        &.btn-action {

            .btn-content-wrapper {
                .icon {
                    .fa {
                        color: $color_6;
                    }
                }
            }
        }
    }

    &.btn-custom {
        color: $color_2;
        font-size: 14px;
        margin-bottom: 25px;
        background-color: $color_6;
        padding-left: 30px;
        padding-right: 30px;
        text-transform: uppercase;
        border: none;
        @include clearfix;

        &:hover,
        &:focus {
            color: $color_2;
            border: none;
        }

        &:hover {
            background-color: lighten($color_6, 3%);
        }

        .text, .spinner {
            display: block;
            float: left;
        }

        .spinner {
            display: none;
        }

        &.loading {
            background-color: $color_47;
            color: lighten($color_47, 30%);

            .spinner {
                display: block;
                @include animation(fa-spin 1.5s infinite linear);
            }
        }
    }

    &.btn-change-cover-photo {
        .fa {
            &.spinner {
                display: none;
            }
        }

        &.uploading {
            .icon {
                .fa {
                    &.fa-cloud-upload {
                        display: none;

                    }

                    &.spinner {
                        display: block;
                    }
                }
            }
        }
    }

    &.btn-photo-all {
        margin-bottom: 0;
    }

    &.btn-facebook,
    &.btn-google {
        margin: 0 0 25px 0;
        color: $color_2;
        font-size: 14px;
        text-transform: uppercase;
        @include roboto-font($light-font, $light-font-weight);

        &:focus {
            color: $color_2;
        }

        i.fa {
            margin-right: 5px;
        }

    }

    &.btn-facebook {
        border: 1px solid $color_25;
        background-color: $color_25;

        &:hover {
            background-color: darken($color_25, 8%);
            color: $color_82;
        }
    }

    &.btn-google {
        border: 1px solid $color_42;
        background-color: $color_42;

        &:hover {
            color: $color_82;
            background-color: darken($color_42, 8%);
        }
    }

    &.btn-follow {
        min-width: 119px;
        border: none;
        margin-top: 25px;
        text-transform: uppercase;
        @include roboto-font($light-font, $light-font-weight);

        span {
            &.follow {
                display: block;
            }

            &.followed {
                display: none;
            }

            &.no-follow {
                display: none;
            }
        }

        &.is-followed {
            background-color: $color_43;

            &:hover {
                background-color: $color_16;

                span {
                    &.follow {
                        display: none;
                    }

                    &.followed {
                        display: none;
                    }

                    &.no-follow {
                        display: block;
                    }
                }
            }

            span {
                &.follow {
                    display: none;
                }

                &.followed {
                    display: block;
                }

                &.no-follow {
                    display: none;
                }
            }
        }
    }

    &.btn-load-more {
        color: $color_6;
        font-size: 14px;
        border: 1px solid $color_6;
        background-color: $color_2;
        padding-right: 35px;
        padding-left: 35px;
        text-transform: uppercase;
        @include clearfix();

        &:hover, &:active {
            color: $color_2;
            background-color: $color_6;

            span {
                &.spinner {
                    .spinner-icon {
                        svg {
                            fill: $color_2;
                        }
                    }
                }
            }
        }

        &:active {
            span {
                &.spinner {
                    display: block;
                }
            }
        }

        span {
            display: block;

            &.spinner {
                display: none;
                float: left;
                margin-right: 15px;

                .spinner-icon {
                    width: 18px;
                    height: 18px;
                    @include animation(fa-spin 1.5s infinite linear);

                    svg {
                        fill: $color_6;
                    }
                }
            }

            &.text {
                float: right;
            }
        }
    }

    &.btn-more-actions {
        color: $color_82;
        background-color: $color_46;
        border-color: darken($color_46, 5%);
    }

    &.btn-price-info {
        padding: 0;
        line-height: 1em;
        background: transparent;
    }

    &.btn-action {
        text-align: center;

        .btn-content-wrapper {
            margin-top: -3px;
            line-height: 1em;
            @include inline-block();
            @include clearfix();

            .icon, .text {
                @include inline-block();
            }

            .icon {
                .fa {
                    margin-right: 15px;
                    color: $color_2;
                    font-size: 18px;
                    margin-top: 1px;
                    @media (max-width: 767px) {
                        font-size: 14px;
                    }

                    &.spinner {
                        display: none;
                    }
                }
            }
        }

        &.btn-loading {
            .btn-content-wrapper {
                .icon {
                    .fa {
                        display: none;

                        &.spinner {
                            display: block;
                        }
                    }
                }
            }
        }

        &.active {
            .btn-content-wrapper {
                .icon {
                    .fa {
                        color: $color_6;

                        &.spinner {
                            margin: 0;
                            color: $color_2;
                        }
                    }
                }
            }

            &:hover {
                .btn-content-wrapper {
                    .icon {
                        .fa {
                            color: $color_2;
                        }
                    }
                }

            }

        }

        &.disabled {
            cursor: no-drop;
        }

        &:hover {
            .btn-content-wrapper {
                .icon {
                    .fa {
                        color: $color_2;
                    }
                }
            }
        }
    }
}

.btn-group {
    .btn {
        &.dropdown-toggle {
            padding: 5px 12px;
        }
    }

    .dropdown-menu {
        padding: 15px;

        li {
            a {
                display: block;
                color: $color_6;
                padding: 0 0 15px 0;
                border-bottom: 1px solid $color_41;
                margin-bottom: 15px;

                &.text-danger {
                    color: $color_27;
                }
            }

            &:last-of-type {
                a {
                    padding-bottom: 0;
                    border-bottom: none;
                    margin-bottom: 0;
                }
            }
        }
    }
}
