.emotions {
    position: relative;

    &.active {
        .emotions-icons-wrapper {
            display: block;
        }
    }

    .emotions-icons-wrapper {
        position: absolute;
        top: 35px;
        right: -10px;
        z-index: 100;
        width: 175px;
        border: 1px solid $color_3;
        background-color: $color_36;
        padding-top: 15px;
        padding-bottom: 15px;
        padding-left: 15px;
        display: none;
        @include border-radius(3px);

        i.fa.fa-sort-asc {
            position: absolute;
            top: -10px;
            right: 12px;
            color: $color_3;
            margin-top: 0;
            font-size: 23px;
        }

        .emotions-icons {
            height: 103px;
            overflow-y: scroll;
            margin-bottom: 0;
            @include clearfix();

            .emoticon {
                float: left;
                margin: 15px 15px 0 0;
                @include inline-block();

                &:nth-child(4n+4) {
                    margin-right: 0;
                }

                &:nth-child(-n+4) {
                    margin-top: 0;
                }
            }
        }
    }
}

i {
    @include inline-block();

    &.angel {
        @include emoticon('angel');
    }

    &.angry {
        @include emoticon('angry');
    }

    &.angry-1 {
        @include emoticon('angry-1');
    }

    &.arrogant {
        @include emoticon('arrogant');
    }

    &.bored {
        @include emoticon('bored');
    }

    &.confused {
        @include emoticon('confused');
    }

    &.cool {
        @include emoticon('cool');
    }

    &.cool-1 {
        @include emoticon('cool-1');
    }

    &.crying {
        @include emoticon('crying');
    }

    &.crying-1 {
        @include emoticon('crying-1');
    }

    &.crying-2 {
        @include emoticon('crying-2');
    }

    &.cute {
        @include emoticon('cute');
    }

    &.embarrassed {
        @include emoticon('embarrassed');
    }

    &.emoji {
        @include emoticon('emoji');
    }

    &.greed {
        @include emoticon('greed');
    }

    &.happy {
        @include emoticon('happy');
    }

    &.happy-1 {
        @include emoticon('happy-1');
    }

    &.happy-2 {
        @include emoticon('happy-2');
    }

    &.happy-3 {
        @include emoticon('happy-3');
    }

    &.happy-4 {
        @include emoticon('happy-4');
    }

    &.happy-5 {
        @include emoticon('happy-5');
    }

    &.happy-6 {
        @include emoticon('happy-6');
    }

    &.happy-7 {
        @include emoticon('happy-7');
    }

    &.in-love {
        @include emoticon('in-love');
    }

    &.kiss {
        @include emoticon('kiss');
    }

    &.kiss-1 {
        @include emoticon('kiss-1');
    }

    &.laughing {
        @include emoticon('laughing');
    }

    &.laughing-1 {
        @include emoticon('laughing-1');
    }

    &.laughing-2 {
        @include emoticon('laughing-2');
    }

    &.muted {
        @include emoticon('muted');
    }

    &.nerd {
        @include emoticon('nerd');
    }

    &.sad {
        @include emoticon('sad');
    }

    &.sad-1 {
        @include emoticon('sad-1');
    }

    &.sad-2 {
        @include emoticon('sad-2');
    }

    &.serious {
        @include emoticon('serious');
    }

    &.shocked {
        @include emoticon('shocked');
    }

    &.sick {
        @include emoticon('sick');
    }

    &.sleepy {
        @include emoticon('sleepy');
    }

    &.smart {
        @include emoticon('smart');
    }

    &.surprised {
        @include emoticon('surprised');
    }

    &.surprised-1 {
        @include emoticon('surprised-1');
    }

    &.surprised-2 {
        @include emoticon('surprised-2');
    }

    &.surprised-3 {
        @include emoticon('surprised-3');
    }

    &.surprised-4 {
        @include emoticon('surprised-4');
    }

    &.suspicious {
        @include emoticon('suspicious');
    }

    &.tongue {
        @include emoticon('tongue');
    }

    &.vain {
        @include emoticon('vain');
    }

    &.wink {
        @include emoticon('wink');
    }

    &.wink-1 {
        @include emoticon('wink-1');
    }
}
