.event-status-wrapper {
    margin-top: 25px;
    border-left: 1px solid $color_41;
    @media (max-width: 767px) {
        margin-bottom: 50px;
        border-left: 0;
    }
    @include border-radius(3px 0 0 3px);

    .marker-event-date {
        background-color: $color_2;
        color: $color_85;
        font-size: 12px;
        @include roboto-font($regular-font, $regular-font-weight);
        border: 1px solid $color_41;
        padding: 5px 10px;
        margin-top: 25px;
        margin-left: -1px;
        @include border-radius(0 3px 3px 0);
        @include inline-block();

        &:first-child {
            margin-top: 0;
            @include border-radius(3px 3px 3px 0);
        }

        @media (max-width: 767px) {
            width: 100%;
            text-align: center;
        }
    }

    .event-status {
        margin-top: 20px;
        margin-left: 15px;
        border: 1px solid $color_41;
        background-color: $color_2;
        @include border-radius(3px);
        @media (max-width: 767px) {
            margin-left: 0;
        }

        .header {
            padding-top: 15px;
            margin-bottom: 25px;
            @include clearfix;

            .main-details {
                float: left;
                margin-right: 20px;
                @include inline-block();
            }

            a, span {
                float: left;
                @include inline-block();
            }

            .user-name {
                margin-right: 5px;
                font-size: 16px;
                margin-top: 14px;
                @include roboto-font($bold-font, $bold-font-weight);
                @media (max-width: 767px) {
                    float: none;
                    display: block;
                    margin-top: 0;
                }
            }

            .text, .kind-of-media {
                color: $color_87;
                font-size: 16px;
                margin-top: 14px;
                @include roboto-font($light-font, $light-font-weight);
                @media (max-width: 767px) {
                    margin-top: 0;
                }
            }

            .text {
                margin-right: 5px;
            }

            .event-status-options {
                float: right;
                position: relative;

                .btn-group {
                    .btn.dropdown-toggle {
                        padding-top: 5px;
                        padding-bottom: 5px;
                        line-height: 1em;

                        &:focus {
                            background-color: unset;
                        }

                        .fa {
                            color: $color_82;
                        }
                    }

                    .dropdown-menu {
                        margin-bottom: 0;
                        left: unset;
                        right: 0;

                        li {
                            display: block;

                            a {
                                float: none;
                                display: block;
                            }
                        }
                    }
                }
            }
        }

        .user-event-status {
            padding: 0 15px;

            .event-status-text {
                margin-bottom: 25px;

                p {
                    color: $color_30;
                    font-size: 16px;
                    @include roboto-font($light-font, $light-font-weight);
                    margin-bottom: 0;
                    line-height: 1.4em;
                }

                a {
                    margin-top: 30px;
                    display: block;
                    font-size: 16px;
                    @include roboto-font($bold-font, $bold-font-weight);
                }
            }

            .event-status-shared-content {
                .media {
                    .media-content {
                        padding: 18px;
                        border: 1px solid $color_88;

                        .media-web-page {
                            text-transform: uppercase;
                            font-size: 14px;
                            color: $color_89;
                            margin-bottom: 12px;
                            display: block;

                        }

                        .media-title {
                            color: $color_30;
                            font-size: 16px;
                            margin-bottom: 20px;
                            margin-top: 0;
                            @include roboto-font($bold-font, $bold-font-weight);
                        }

                        .media-description {
                            margin-bottom: 0;
                        }
                    }
                }
            }
        }

        .footer {
            padding: 0 15px 15px;
            @include clearfix;

            .top-footer {
                padding-bottom: 15px;
                margin-bottom: 15px;
                border-bottom: 1px solid $color_83;
                @include clearfix;

                .event-status-tools {
                    position: relative;
                    float: left;
                    margin-top: 20px;
                }

                .comments-counter {
                    float: right;
                    margin-top: 25px;
                    font-size: 16px;
                    color: $color_66;
                }
            }

            .middle-footer {
                margin-bottom: 15px;

                .event-status-comments {
                    margin-bottom: 0;

                    .single-comment {
                        padding: 18px 0;
                        border-bottom: 1px solid $color_83;
                        @include clearfix;

                        .main-details {
                            float: left;
                            margin-right: 20px;

                            .photo-wrapper {
                                width: 35px;
                                height: 35px;
                            }
                        }

                        .comment-wrapper {
                            float: left;
                            @include clearfix();
                            @media (max-width: 767px) {
                                width: 100%;
                                float: none;
                            }

                            .comment-author-name {
                                @include roboto-font($bold-font, $bold-font-weight);
                                @media (max-width: 767px) {
                                    display: block;
                                }
                            }

                            .separator, .comment-time {
                                @include roboto-font($light-font, $light-font-weight);
                                color: $color_66;
                            }

                            .comment {
                                margin-bottom: 0;
                            }

                            .comment-tools {
                                margin-top: 16px;
                                float: left;
                                @include clearfix();

                                &.admin {
                                    .tool {
                                        margin-left: 15px;
                                        padding-left: 15px;
                                        border-left: 1px solid $color_41;
                                        line-height: 1.9em;

                                        a {
                                            color: $color_82;

                                            &:hover {
                                                color: $color_6;
                                            }
                                        }
                                    }
                                }

                                .tool {
                                    float: left;

                                    &.like {
                                        .add-to-favorites {
                                            i.fa {
                                                font-size: 18px;
                                            }

                                            .text {
                                                font-size: 14px;
                                            }
                                        }
                                    }

                                    &.block {
                                        margin-top: 3px;

                                        a {
                                            color: $color_82;

                                            &:hover {
                                                color: $color_27;
                                            }
                                        }
                                    }
                                }
                            }

                            &.small-screen {
                                margin-top: 15px;
                                @include clearfix();

                                .comment {

                                }

                                .comment-tools {
                                    .tool {
                                        .add-to-favorites {
                                            @media (max-width: 767px) {
                                                padding-right: 0;
                                                margin-right: 12px;
                                            }
                                        }
                                    }

                                    &.admin {
                                        .tool {
                                            @media (max-width: 767px) {
                                                padding-left: 12px;
                                                margin-left: 12px;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }

            .bottom-footer {
                .your-comment-wrapper {
                    border: 1px solid $color_84;
                    padding: 14px;
                    @include border-radius(3px);
                    @include clearfix;

                    .type-your-comment {
                        float: left;
                        width: 670px;
                        @media (max-width: 767px) {
                            width: 220px;
                            margin-top: 3px;
                        }

                        .type-comment {
                            padding: 0;
                            border: none;
                            width: 100%;
                            outline: none;
                        }
                    }

                    .share-post-tools {
                        margin-top: 0;

                        .tool {
                            &.emotions {
                                @media (max-width: 767px) {
                                    margin-left: 0;
                                    i.fa {
                                        margin-top: 0;
                                    }
                                }
                            }
                        }
                    }
                }

                .btn.submit-comment {
                    border: none;
                    text-transform: uppercase;
                    font-size: 14px;
                    padding: 13px 30px;
                    margin-top: 15px;
                    display: none;
                }
            }
        }

        &.photo {
            .user-event-status {
                .event-status-shared-content {
                    .media {
                        .event-status-shared-photo {
                            display: block;
                            width: 100%;
                        }
                    }
                }
            }
        }

        &.video {
            .user-event-status {
                .event-status-shared-content {
                    .media {
                        height: 179px;
                        @media (max-width: 767px) {
                            height: auto;
                        }
                        @include clearfix;

                        .shared-video-wrapper {
                            float: left;
                            width: 40%;
                            position: relative;
                            text-align: center;
                            @media (max-width: 767px) {
                                float: none;
                                width: 100%;
                                display: block;
                            }

                            .event-status-shared-video {
                                width: 100%;
                                @include inline-block();
                            }

                            .play-video {
                                background-color: $color_2;
                                width: 60px;
                                height: 60px;
                                position: absolute;
                                top: 33%;
                                right: 0;
                                left: 0;
                                text-align: center;
                                margin: 0 auto;
                                padding: 14px 0;
                                @include border-radius(50%);
                                @include inline-block();

                                i.fa {
                                    margin-left: 5px;
                                    color: $color_11;
                                    font-size: 31px;
                                }

                                &:hover {
                                    cursor: pointer;
                                }
                            }
                        }

                        .media-content {
                            float: left;
                            width: 60%;
                            height: 179px;
                            padding: 14px 18px;
                            @media (max-width: 767px) {
                                float: none;
                                width: 100%;
                                height: auto;
                            }

                            .media-web-page {
                                margin-bottom: 0;
                            }

                            .media-description {
                                overflow: hidden;
                                text-overflow: ellipsis;
                                height: 99px;
                                max-height: 99px;
                                position: relative;
                                margin-right: -1em;
                                padding-right: 1em;
                                line-height: unset;

                                &:before {
                                    content: '...';
                                    position: absolute;
                                    right: 20px;
                                    bottom: 0;
                                    background: $color_2;
                                }
                            }
                        }
                    }
                }
            }
        }

        &.text {
            .user-event-status {
                .event-status-shared-content {
                    .media {
                        .media-content {
                            padding: 0;
                            border: none;
                            overflow: hidden;
                            position: relative;

                            p {
                                margin-bottom: 15px;
                            }

                            .read-more-shadow {
                                position: absolute;
                                height: 35px;
                                right: 0;
                                bottom: 0;
                                left: 0;
                                background-image: linear-gradient(to top, $color_2, rgba($color_2, 0));
                                @include transition(.3s);
                            }
                        }

                        &.long-text {
                            .read-more {
                                display: block;
                            }
                        }

                        .read-more {
                            display: none;
                            color: $color_6;
                            text-transform: uppercase;
                            font-size: 12px;
                            text-align: center;
                            background-image: none;
                            margin-top: 15px;
                            cursor: pointer;
                            @include roboto-font($bold-font, $bold-font-weight);
                        }
                    }
                }
            }
        }

        &.gallery {
            padding: 0;

            .user-event-status {
                .event-status-shared-content {
                    .media {
                        .media-content {
                            padding: 30px;
                            border: none;
                            background: $color_47 -svg(linear-gradient(120deg, lighten($color_3, 35%), darken($color_3, 20%), lighten($color_3, 35%)));

                            .user-posted-gallery {
                                overflow: hidden;
                                white-space: nowrap;
                                margin-bottom: 0;
                                @include clearfix();
                                @include display-flex;
                                @include flex-direction(row);

                                .list-posted-photo {
                                    float: left;
                                    margin-right: 30px;

                                    .row-thumb-photos {
                                        .photo-wrapper {
                                            width: 300px;

                                            .photo {
                                                .thumb-photo {
                                                    height: 300px;
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }

            .footer {
                padding: 0 15px 15px;
            }
        }
    }

    .footer-events-wrapper {
        margin-top: 22px;
        height: 45px;
        position: relative;

        hr.separator {
            position: absolute;
            left: 0;
            bottom: 0;
            width: 40%;
            margin: 0;
            @include inline-block();
            @include border-radius(3px 0 0 3px);
            @media (max-width: 767px) {
                display: none;
            }
        }

        .btn.load-more {
            position: absolute;
            bottom: -23px;
            left: 40%;
            margin: 0 auto;
            text-transform: uppercase;
            padding: 12px 40px;
            @include inline-block();
            @media (max-width: 767px) {
                left: 20%;
            }
        }
    }
}
