.btn {
    &.btn-custom {
        color: $color_2;
        text-transform: uppercase;
        border: none;
        @include clearfix;

        .text, .spinner {
            display: block;
            float: left;
        }

        .spinner {
            display: none;
        }

        &.loading {
            cursor: not-allowed;

            .spinner {
                display: block;
                margin-top: 3px;
                margin-right: 15px;
                @include animation(fa-spin 1.5s infinite linear);
            }
        }
    }
}

.form-group {
    .form-control {
        border-width: 1px;
    }

    &.has-error {
        .form-control {
            @include input-placeholder {
                color: $color_27;
            }
        }
    }
}
