.carousel-container {
    //width: 300px;
    .carousel {
        height: 80vh;
        position: relative;
        background-image: url(http://audeficheux.com/projects/carousel/src/images/background0.png);
        background-size: cover;
        transition: background-image 0.5s ease;
        @media (max-width: 767px) {
            height: 50vh;
        }

        .btn.btn-back {
            background: unset;
            padding: 0;
            color: $color_30;
            border: none;
            position: absolute;
            top: 25px;
            left: 50px;
            z-index: 999999;
            @include clearfix();

            i.fa,
            .text {
                float: left;
            }

            i.fa {
                font-size: 21px;
                margin-top: -1px;
                margin-right: 10px;
            }
        }

        .slides {
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            overflow: hidden;

            .items {
                position: relative;
                width: 20000px;
                font-size: 0;
                transition: all ease-out 0.3s;

                .item {
                    position: relative;
                    margin-top: 100px;
                    margin-left: 17vw;
                    width: 70vw;
                    height: 67vh;
                    display: inline-block;
                    background-repeat: no-repeat;
                    @media (max-width: 767px) {
                        width: 84vw;
                        height: 25vh;
                        margin-top: 70px;
                        margin-left: 8vw;
                    }

                    .image {
                        width: 70vw;
                        height: 50vh;
                        background-size: cover;
                        background-position: center center;
                        @media (max-width: 767px) {
                            width: 84vw;
                            height: 25vh;
                        }
                    }

                    .artist {
                        position: absolute;
                        top: 40%;
                        right: 0;
                        left: 0;
                        font-size: 42px;
                        text-align: center;
                        margin-bottom: 0;
                        line-height: 1em;
                        @include roboto-font($thin-font, $thin-font-weight);

                        a {
                            color: $color_82;
                        }
                    }
                }
            }
        }

        .event-status-tools-wrapper {
            text-align: center;
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;

            .event-status-tools {
                padding: 12px 25px;
                background-color: $color_36;
                position: relative;
                @include inline-block();
                @include border-radius(3px 3px 0 0);

                .who-likes-this-wrapper {
                    top: 50px;
                }
            }
        }

        .siblings {
            .sibling {
                position: absolute;
                top: 45%;
                line-height: 1em;
                font-size: 42px;
                color: $color_82;

                &.prev {
                    left: 50px;
                    @media (max-width: 767px) {
                        left: 5px;
                    }
                }

                &.next {
                    right: 50px;
                    @media (max-width: 767px) {
                        right: 5px;
                    }
                }
            }

            .play {
                display: none;
                position: absolute;
                width: 600px;
                height: 300px;
                top: 100px;
                left: 50px;
                background-image: url(http://audeficheux.com/projects/carousel/src/images/play.png);
                background-repeat: no-repeat;
                background-position: center;
                text-align: center;
                line-height: 40px;
                text-decoration: none;
                transition: all 0.8s ease;

                &.invisible {
                    background-image: none;
                    transition: all 0.8s ease;

                    &:hover {
                        background-image: url(http://audeficheux.com/projects/carousel/src/images/pause.png);;
                    }
                }
            }
        }

        .seek-bar {
            display: none;
            position: absolute;
            top: 315px;
            width: 100%;
            height: 10px;
            background-color: rgba(0, 0, 0, 0.2);

            .progress-bar {
                background-color: rgba(30, 30, 30, 0.6);
                width: 100%;
                height: 100%;
                -webkit-transform: scaleX(0);
                -moz-transform: scaleX(0);
                -ms-transform: scaleX(0);
                -o-transform: scaleX(0);
                transform: scaleX(0);
                -webkit-transform-origin: 0;
                -moz-transform-origin: 0;
                -ms-transform-origin: 0;
                -o-transform-origin: 0;
                transform-origin: 0;
                -webkit-transition: transform 0.2s;
                -moz-transition: transform 0.2s;
                -ms-transition: transform 0.2s;
                -o-transition: transform 0.2s;
                transition: transform 0.2s;
            }
        }
    }

    .choice {
        //width: 300px;
        height: 200px;
        background-color: white;
        display: none;

        .tracks {
            height: 170px;
            overflow: scroll;
        }

        .title {
            width: 290px;
            height: 30px;
            border-bottom: 1px solid #ccc;
            padding-left: 10px;

            p {
                height: 30px;
                line-height: 30px;
                vertical-align: middle;
                color: #555;
                font-size: 10px;
            }
        }

        .track {
            width: 250px;
            margin: auto;
            height: 50px;
            border-bottom: 1px solid #ccc;
            padding-left: 10px;
            font-weight: 300;
            cursor: pointer;

            div {
                display: inline-block;
            }

            .number {
                line-height: 50px;
            }

            .name {
                height: 30px;
                vertical-align: middle;
                padding-left: 25px;

                .song {
                    margin-top: 4px;
                    font-size: 12px;
                }
            }

            .speakers {
                height: 20px;
                width: 20px;
                background-image: url(http://audeficheux.com/projects/carousel/src/images/speaker.png);
                background-repeat: no-repeat;
                vertical-align: middle;
                float: right;
                margin-top: 15px;

                &.invisible {
                    display: none;
                }
            }
        }
    }
}
