.group-options {
    padding: 15px 0;
    background-color: $color_2;

    .group-option-buttons {
        @include clearfix();

        .btn-group {
            float: left;
            margin-right: 15px;

            &.block-notifications {
                .dropdown-toggle {

                    .fa {
                        color: $color-red-error;
                    }
                }
            }

            &:first-child {
                .dropdown-toggle {
                    .fa {
                        margin-right: 0;
                        margin-left: 10px;
                    }
                }
            }

            &:nth-of-type(2) {
                .dropdown-menu {
                    @media (max-width: 767px) {
                        left: -20vh;
                    }
                }
            }

            &:last-of-type {
                margin-right: 0;
                @media (max-width: 767px) {
                    float: right;
                }

                .dropdown-toggle {
                    .fa {
                        @media (max-width: 767px) {
                            margin-right: 0;
                        }
                    }
                }

                .dropdown-menu {
                    @media (max-width: 767px) {
                        right: 0;
                        left: unset;
                    }
                }
            }

            .dropdown-toggle {
                font-size: 14px;
                text-transform: capitalize;
                @include clearfix();

                &:focus {
                    color: $color_30;
                }

                .fa {
                    float: left;
                    margin-right: 10px;
                    color: $color_6;
                    line-height: 1.4em;
                }

                .text {
                    float: left;
                }
            }

            .dropdown-menu {
                color: $color_6;

                li {
                    padding: 3px 20px;
                    white-space: nowrap;
                    line-height: 1.4em;
                    display: block;
                    cursor: pointer;
                    position: relative;

                    .fa {
                        display: none;
                    }

                    &.selected {
                        font-weight: 700;

                        .fa {
                            display: block;
                        }
                    }

                    &:hover {
                        background-color: $color_17;
                    }

                    .fa {
                        position: absolute;
                        top: 5px;
                        left: 3px;
                    }

                    &.divider {
                        padding: 0;
                    }
                }
            }
        }
    }

    .search-field {
        position: relative;
        margin-bottom: 0;
        @media (max-width: 767px) {
            margin-top: 15px;
        }

        .form-control {
            padding-top: 5px;
            padding-bottom: 5px;
            height: 30px;
            border: 1px solid $color_41;

            &:focus {
                border: 1px solid #62c2e9;
            }
        }

        .btn-search {
            position: absolute;
            top: 5px;
            right: 10px;
            background: $color_2;
            border: none;
            padding: 0 0 0 15px;
            line-height: 1.4em;
            color: $color_46;

            &:hover,
            &:active,
            &:focus {
                color: $color_46;
                @include box-shadow(none);
            }
        }
    }
}
