.group-member-tooltip-wrapper {
    position: absolute;
    top: 42px;
    z-index: 123;
    display: none;

    .group-member-tooltip {
        padding: 8px 10px;
        position: relative;
        background-color: $color_38;
        @include border-radius(5px);

        &:before {
            color: $color_38;
            content: '\f0de';
            font-family: FontAwesome, sans-serif;
            position: absolute;
            top: -10px;
            right: 0;
            left: 10px;
            margin: 0 auto;
            line-height: 1em;
            font-size: 26px;
        }

        .group-member-name {
            margin-top: 0;
            margin-bottom: 5px;
            color: $color_2;
            font-size: 11px;
            font-weight: 700;
            white-space: nowrap;
        }

        .group-member-role {
            margin: 0;
            color: $color_2;
            font-size: 11px;
            font-weight: 400;
            white-space: nowrap;
        }
    }
}
