.icon {
    outline: none;
    @include inline-block;

    &.share-facebook {
        @include sprites('share_facebook');
    }

    &.share-google {
        @include sprites('share_google');
    }

    &.share-pinterest {
        @include sprites('share_pinterest');
    }

    &.mobile-menu-hamburger {
        @include sprites('hamburger_menu');
    }

    &.mobile-menu-close {
        @include sprites('close_mobile_menu');
    }

    &.mobile-menu-back {
        @include sprites('mobile_menu_back');
    }

    &.close {
        @include sprites('close');

        &.close-grey {
            @include sprites('close_grey');
        }
    }

    &.close-menu {
        @include sprites('close_menu');
    }

    &.info {
        @include sprites('info_circle');
    }
}
