#registerPopup {
    .modal-dialog {
        margin-top: 150px;
        @media (max-width: 767px) {
            margin-top: 80px;
        }

        .modal-content {
            .modal-header {
                .close-modal {
                    background: unset;
                    border: none;
                    padding: 0;

                    i.fa {
                        color: $color_39;
                        font-size: 28px;
                        line-height: 1em;
                    }
                }
            }

            .modal-body {
                @media (max-width: 767px) {
                    padding: 15px;
                }

                .left-column {
                    padding-right: 30px;
                    border-right: 1px solid $color_41;
                    @include clearfix();
                    @media (max-width: 767px) {
                        padding-right: 0;
                        border-right: none;
                    }

                    .links {
                        display: block;
                        @include clearfix();

                        li {
                            float: left;
                            margin-right: 10px;
                            @include inline-block;

                            &:last-child {
                                margin-right: 0;
                            }
                        }
                    }
                }

                .right-column {
                    @include clearfix();

                    .form-wrap {
                        .form-group {
                            &:last-child {
                                margin-bottom: 0;
                            }
                        }
                    }

                    .notice {
                        display: block;
                        text-align: left;
                        font-size: 14px;
                    }
                }
            }
        }
    }
}
