#modalUploadPhoto {
    .modal-dialog {
        .modal-content {
            padding: 15px;
            @media (max-width: 767px) {
                padding: 0;
            }

            .modal-header {
                padding-right: 0;
                padding-left: 0;

                .head {
                    @media (max-width: 767px) {
                        font-size: 20px;
                    }
                }
            }

            .modal-body {
                background-color: $color_36;
                border: 3px dashed $color_62;
                padding: 0;
                margin-left: 15px;
                margin-right: 15px;
                margin-bottom: 15px;
                @media (max-width: 767px) {
                    margin-left: 0;
                    margin-right: 0;
                    padding-bottom: 15px;
                }

                &.step-3 {
                    border: none;
                    padding-right: 0;
                    padding-left: 0;
                    background-color: $color_82;
                }

                .step-1 {
                    .upload-photo-notice {
                        margin-top: 50px;
                        margin-bottom: 60px;

                        span {
                            line-height: 1.2em;
                            margin-bottom: 10px;
                            @include inline-block();
                        }

                        ul {
                            margin-bottom: 20px;
                            @include roboto-font($light-font, $light-font-weight);
                        }
                    }

                    .form-wrap {
                        .form-group {
                            .select-new-photo {
                                .btn-upload-photo {
                                    position: relative;

                                    .upload-new-photo {
                                        position: absolute;
                                        top: 0;
                                        right: 0;
                                        bottom: 0;
                                        left: 0;
                                        z-index: 2;
                                        cursor: pointer;
                                        @include opacity(0);
                                    }

                                    .btn-content {
                                        text-transform: uppercase;
                                        @include inline-block();
                                        @include clearfix();

                                        i.fa, .text {
                                            float: left;
                                            display: block;
                                        }

                                        i.fa {
                                            font-size: 26px;
                                            margin-right: 15px;
                                            @media (max-width: 767px) {
                                                font-size: 18px;
                                            }
                                        }

                                        .text {
                                            margin-top: 3px;
                                            @media (max-width: 767px) {
                                                margin-top: 1px;
                                                font-size: 12px;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }

                    .links {
                        margin-bottom: 60px;

                        li {
                            .text {

                            }
                        }
                    }
                }

                .step-2 {
                    .uploaded-photo-wrapper {
                        width: 245px;
                        margin-top: 50px;

                        &.completed {
                            .delete-photo {
                                display: block;
                            }

                            .uploaded-photo {
                                .row-thumb-photos {
                                    .photo-wrapper {
                                        .photo {
                                            .thumb-photo {
                                                @media (max-width: 767px) {
                                                    width: 270px;
                                                    height: 246px !important;
                                                }
                                            }
                                        }
                                    }
                                }
                            }

                            .uploaded-photo-overlay {
                                left: 100%;
                            }
                        }

                        .uploaded-photo {
                            .row-thumb-photos {
                                .photo-wrapper {
                                    .photo {
                                        .thumb-photo {
                                            width: 245px;
                                            @media (max-width: 767px) {
                                                width: 270px;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }

                    .btn-photo-uploaded {
                        display: none;
                        margin-top: 20px;
                        margin-bottom: 60px;
                        text-transform: uppercase;
                        @include roboto-font($regular-font, $regular-font-weight);

                        &.completed {
                            display: block;
                        }
                    }

                    .upload-photo-notice {
                        margin-top: 20px;
                        margin-bottom: 60px;
                        color: #8d8d8d;

                        &.completed {
                            display: none;
                        }

                        span {
                            display: block;
                        }
                    }
                }

                .step-3 {
                    .main-uploaded-photo {
                        margin-bottom: 30px;
                        @media (max-width: 767px) {
                            margin-bottom: 0;
                        }

                        .row-thumb-photos {
                            .photo-wrapper {
                                text-align: center;

                                .photo {
                                    @include inline-block();

                                    .thumb-photo {
                                        width: 245px;
                                        height: 245px !important;
                                        @include border-radius(5px);
                                        @media (max-width: 767px) {
                                            width: 270px;
                                            height: 270px !important;
                                        }
                                    }
                                }
                            }
                        }
                    }

                    .btn-upload-big-photo {
                        font-size: 14px;
                        margin-bottom: 25px;
                    }

                    .btn-add-location {
                        margin: 0;
                        border: none;
                        padding: 0;
                        @media (max-width: 767px) {
                            margin-bottom: 45px;
                        }

                        &:hover, &:active, &:focus {
                            background: none;
                            color: $color_27;
                            @include box-shadow(none);
                        }

                        .btn-content {
                            @include inline-block();
                            @include clearfix();

                            i.fa, .text {
                                float: left;
                                display: block;
                            }

                            i.fa {
                                font-size: 21px;
                                margin-right: 10px;
                            }

                            .text {
                                margin-top: 1px;
                            }
                        }
                    }

                    .form-wrap {
                        .form-group {
                            margin-bottom: 30px;

                            &.description {
                                .form-control {
                                    resize: none;
                                }
                            }
                        }

                        .exif-info {
                            padding: 0 15px 15px;
                            margin-bottom: 30px;
                            border: 1px solid $color_6;
                            @include border-radius(3px);
                            @include clearfix();

                            .form-group {
                                margin-bottom: 0;

                                .row-info {
                                    margin-top: 15px;
                                    @include clearfix();

                                    .label {
                                        float: left;
                                        margin-right: 10px;
                                        font-size: 12px;
                                        color: $color_40;
                                        padding: 0;
                                        line-height: 1.4em;
                                        @include roboto-font($light-font, $light-font-weight);
                                    }

                                    .text {
                                        float: left;
                                        font-size: 12px;
                                    }
                                }
                            }
                        }

                        .rules-confirmations {
                            li {
                                @media (max-width: 767px) {
                                    margin-bottom: 25px;
                                }

                                .checkbox {
                                    &.custom-checkbox {
                                        @media (max-width: 767px) {
                                            display: table-cell;
                                            vertical-align: middle;
                                        }

                                        .character-checkbox {
                                            @media (max-width: 767px) {
                                                margin-right: 10px;
                                            }
                                        }

                                        .label {
                                            @media (max-width: 767px) {
                                                float: none;
                                                margin-top: 0;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }

                    .btn-skip {
                        @media (max-width: 767px) {
                            margin-bottom: 25px;
                            border: none;
                            padding: 0;
                        }

                        &:hover {
                            @media (max-width: 767px) {
                                background: unset;
                            }
                        }

                        &:active {
                            @media (max-width: 767px) {
                                @include box-shadow(none);
                            }
                        }
                    }
                }
            }
        }
    }
}
