.most-active-users {
    margin-bottom: 30px;
    background-color: $color_2;
    border: 1px solid $color_41;
    padding: 25px 20px 15px;
    @include border-radius(3px);

    .head-label {
        @include roboto-font($light-font, $light-font-weight);
        font-size: 16px;
        color: $color_30;
        margin: 0 0 20px;
    }

    .users-list {
        margin-bottom: 0;

        .user {
            &:last-child {
                .main-details {
                    padding-bottom: 0;
                }
            }

            .main-details {
                padding: 18px 0;
                border-top: 1px solid $color_83;
                @include clearfix();

                .photo-wrapper {
                    float: left;
                    width: 48px;
                    height: 48px;
                    margin-right: 20px;
                }

                .user-info {
                    float: left;

                    .user-name {
                        color: $color_6;
                        font-size: 16px;
                        @include roboto-font($bold-font, $bold-font-weight);
                    }

                    .user-publications {
                        font-size: 12px;
                        color: $color_66;
                        @include clearfix();

                        .count {
                            float: left;
                            margin-right: 5px;
                        }

                        .text {
                            float: left;
                        }
                    }
                }
            }
        }
    }
}
