.main-details {
    @include clearfix();

    .photo-wrapper {
        width: 48px;
        height: 48px;
        @include inline-block();
        @include border-radius(50%);

        .photo {
            display: block;
            width: 100%;
            height: 100%;
            background-position: center center;
            background-size: cover;
            text-indent: -10000px;
            @include inline-block();
            @include border-radius(50%);

            .text {
                display: none;
            }
        }
    }
}

