.row-thumb-photos {
    position: relative;
    margin-bottom: 16px;
    @include clearfix();

    &:last-child {
        margin-bottom: 0;
    }

    @media (max-width: 480px) {
        margin-bottom: 0;
    }

    .row-thumb-label {
        margin-bottom: 10px;
        @include roboto-font($regular-font, $regular-font-weight);
    }

    .photo-wrapper {
        width: 100%;
        margin-right: 16px;
        position: relative;

        &:hover {
            .badges-list {
                @include opacity(1);
            }

            .photo-stats-info {
                @include opacity(1);
            }

            .edit-tools {
                @include opacity(1);
            }
        }

        &:last-child {
            margin-right: 0;
        }

        .badges-list {
            @media (max-width: 767px) {
                @include opacity(1);
            }
        }

        .photo {
            cursor: pointer;
            display: block;

            .thumb-photo {
                width: 100%;
                height: 100%;
                background-position: center center;
                background-size: cover;
                text-indent: -10000px;
                @include inline-block();
                @media (max-width: 480px) {
                    margin-right: 0;
                    margin-bottom: 16px;
                    width: 100%;
                }
            }
        }
    }
}
