.share-post-tools {
    float: right;
    margin-top: 12px;
    @include clearfix;

    .tool {
        float: left;
        cursor: pointer;

        i.fa {
            font-size: 21px;
            line-height: 1em;
        }

        &.share-image {

        }

        &.emotions {
            margin-left: 20px;

            i.fa {
                font-size: 25px;
                margin-top: -3px;
            }

            @media (max-width: 767px) {
                margin-left: 15px;
            }
        }
    }
}

.share-this-event-status {
    position: relative;
    @include inline-block();

    i.fa {
        display: block;
        color: $color_66;
        font-size: 21px;
        line-height: unset;
    }

    &.added, &:hover {
        i.fa {
            color: $color_6;
        }

    }

    &:hover {
        cursor: pointer;
    }

    &.added {
        &:hover {
            cursor: pointer;

            i.fa {
                color: $color_66;
            }
        }
    }

    .share-this-wrapper {
        display: none;
        position: absolute;
        top: 35px;
        left: 0;
        z-index: 10;

        .share-this {
            background-color: $color_36;
            padding: 12px;
            border: 1px solid $color_3;
            width: 150px;
            height: 50px;
            z-index: 101;
            @include border-radius(3px);

            i.fa.fa-sort-asc {
                position: absolute;
                top: -8px;
                left: 10px;
                color: $color_3;
                font-size: 21px;
                line-height: 1em;
            }

            .share-social-medias {
                display: block;
                margin-bottom: 0;
                @include clearfix;

                .social-media {
                    display: block;
                    float: left;
                    margin-right: 10px;

                    &.facebook {
                        i.fa {
                            color: #596ca3;
                        }
                    }

                    &.google-plus {
                        i.fa {
                            color: #c46355;
                        }
                    }

                    &.pinterest {
                        i.fa {
                            color: #b04c43;
                        }
                    }

                    &.url {
                        i.fa {
                            color: #666666;
                        }
                    }

                    &:last-child {
                        margin-top: 1px;
                        margin-right: 0;
                    }

                    .fa {
                        font-size: 24px;
                        line-height: 1em;
                    }
                }
            }
        }

        &.active {
            display: block;
        }
    }
}
