.share-my-status {
    background-color: $color_2;
    border: 1px solid $color_41;
    @include border-radius(3px);
    @include clearfix();

    &.focused {
        position: relative;
        z-index: 12;

        .share-my-status-header {
            .top-header {
                .head-label {
                    .close {
                        display: block;
                    }
                }
            }
        }
    }

    .share-my-status-header {
        @include clearfix;

        .top-header {
            .head-label {
                padding: 10px 15px;
                background-color: $color_58;
                border-bottom: 1px solid $color_41;
                @include border-radius(5px 5px 0 0);
                @include clearfix();

                .text {
                    float: left;
                    text-transform: uppercase;
                    color: $color_66;
                    font-size: 12px;
                }

                .close {
                    float: right;
                    font-size: 14px;
                    display: none;
                }
            }
        }

        .bottom-header {
            padding: 15px;
            @include clearfix();

            .main-details {
                margin-right: 15px;
                float: left;
            }

            .type-my-status {
                float: left;
                padding: 11px 0;
                width: 670px;
                @media (max-width: 767px) {
                    width: 165px;
                }

                .type-status {
                    color: $color_82;
                    font-size: 16px;
                    @include roboto-font($light-font, $light-font-weight);
                    border: none;
                    width: 100%;
                    overflow: hidden;
                    height: 23px;
                    max-height: 180px;
                    resize: none;
                    padding: 0;
                    outline: none;
                    @include box-shadow(none);
                }

                .post-status-url {
                    @include roboto-font($bold-font, $bold-font-weight);
                }
            }
        }
    }

    .share-my-status-content {
        margin: 15px;
        padding: 15px;
        border: 1px solid $color_90;
        @media (max-width: 767px) {
            margin-top: 0;
        }

        .getting-information-please-wait {
            text-align: center;
            color: $color_87;
            margin-top: 20px;

            svg path,
            svg rect {
                fill: $color_6;
            }
        }

        .uploaded-photos-wrapper {
            margin-bottom: 0;
            @include clearfix;

            .uploaded-photo {
                float: left;
                margin-right: 15px;
                position: relative;
                @include transition(.3s);

                &:nth-of-type(2) {
                    @media (max-width: 767px) {
                        margin-right: 0;
                        float: right;
                    }
                }

                &:hover {
                    .remove-new-wrapper {
                        @include transition(.3s);
                        @include opacity(1);
                    }
                }

                &:last-child {
                    margin-right: 0;
                    @media (max-width: 767px) {
                        float: right;
                    }
                }

                .row-thumb-photos {
                    margin-bottom: 0;

                    .photo-wrapper {
                        width: 120px;

                        .photo {
                            .thumb-photo {
                                height: 120px;
                                margin-bottom: 25px;
                            }
                        }
                    }
                }

                .remove-new-wrapper {
                    position: absolute;
                    top: 0;
                    right: 0;
                    bottom: 0;
                    left: 0;
                    background-color: rgba($color_2, .3);
                    text-align: center;
                    @include opacity(0);
                    @include transition(.3s);

                    .remove-photo {
                        padding: 15px;
                        width: 48px;
                        height: 48px;
                        margin-top: 35px;
                        cursor: pointer;
                        background-color: rgba($color_2, .6);
                        @include inline-block();
                        @include border-radius(50%);

                        i.fa {
                            font-size: 21px;
                        }
                    }
                }

                &.select-new-photo {
                    width: 120px;
                    height: 120px;
                    border: 1px dashed $color_90;
                    cursor: pointer;
                    text-align: center;
                    display: table;
                    background-color: $color_58;

                    .add-new {
                        overflow: hidden;
                        position: relative;
                        display: table-cell;
                        vertical-align: middle;

                        i.fa {
                            font-size: 21px;
                            color: $color_90;
                        }

                        #upload-photo {
                            position: absolute;
                            top: 0;
                            right: 0;
                            z-index: 2;
                            width: 120px;
                            height: 120px;
                            cursor: pointer;
                            @include opacity(0);
                        }
                    }
                }
            }
        }

        .media {
            margin-top: 0;
            height: 179px;
            @media (max-width: 767px) {
                height: auto;
            }
            @include clearfix;

            .shared-media-wrapper {
                float: left;
                width: 40%;
                position: relative;
                text-align: center;
                @media (max-width: 767px) {
                    float: none;
                    width: 100%;
                    display: block;
                }

                .event-status-shared-video {
                    width: 100%;
                    @include inline-block();
                }

                .play-video {
                    background-color: $color_2;
                    width: 60px;
                    height: 60px;
                    position: absolute;
                    top: 33%;
                    right: 0;
                    left: 0;
                    text-align: center;
                    margin: 0 auto;
                    padding: 14px 0;
                    @include border-radius(50%);
                    @include inline-block();

                    i.fa {
                        margin-left: 5px;
                        color: $color_11;
                        font-size: 31px;
                    }

                    &:hover {
                        cursor: pointer;
                    }
                }
            }

            .media-content {
                float: left;
                width: 60%;
                height: 179px;
                padding: 0 18px 0;
                @media (max-width: 767px) {
                    float: none;
                    width: 100%;
                    height: auto;
                    padding-left: 0;
                    margin-top: 15px;
                }

                .media-web-page {
                    margin-bottom: 0;
                    text-transform: uppercase;
                }

                .media-description {
                    overflow: hidden;
                    text-overflow: ellipsis;
                    height: 118px;
                    max-height: 118px;
                    position: relative;
                    margin-right: -1em;
                    padding-right: 1em;
                    margin-bottom: 0;
                    //&:before {
                    //    content: '...';
                    //    position: absolute;
                    //    right: 20px;
                    //    bottom: 0;
                    //}
                    //&:after {
                    //    content: '';
                    //    position: absolute;
                    //    right: 0;
                    //    width: 1em;
                    //    height: 1em;
                    //    margin-top: 0.2em;
                    //    background: $color_2;
                    //}
                }
            }
        }
    }

    .share-my-status-footer {
        margin: 15px;

        .btn-warning {
            margin-left: 15px;
        }
    }

}
