.share-buttons {
    float: left;
    @include clearfix;

    .social-network {
        float: left;
        margin-right: 10px;
        @include inline-block();

        &:last-child {
            margin-right: 0;
        }

        @media (max-width: 480px) {
            margin-right: 7px;
        }
    }
}
