.table {
    &.table-striped {
        tbody {
            tr {
                td {
                    vertical-align: middle;

                    &.options {
                        a {
                            &.delete {
                                &:hover {
                                    color: $color-red-error;
                                }
                            }

                            &.edit {
                                &:hover {
                                    color: $color_83;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
