.top-header {
    @media (max-width: 767px) {
        position: relative;
    }

    .mobile-menu-wrapper {
        width: 300px;
        position: fixed;
        top: 0;
        bottom: 0;
        left: -300px;
        z-index: 999999;
        background-color: $color_28;
        @include box-shadow(0px 0px 12px 0 rgba($color_11, 0.8));
        @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
            text-align: left;
        }
        @media (max-width: 767px) {
            width: 230px;
            left: -230px;
        }

        .mobile-menu-nav {
            padding: 6px 15px 7px;
            display: block;
            margin-bottom: 0;
            border-bottom: 1px solid $color_55;
            @include clearfix();

            .menu-item {
                cursor: pointer;

                &.menu-logo {
                    margin: 0;
                    float: left;

                    .logo {
                        display: block;
                        margin: 0;
                    }
                }

                &.close-menu-icon {
                    float: right;

                    .close-menu {
                        margin-top: 15px;
                    }
                }
            }
        }

        .top-menu {
            display: block;
            height: 100%;
            overflow-y: scroll;

            .menu-item {
                float: none;
                margin-right: 0;
                display: list-item;
                padding-right: 15px;
                padding-left: 15px;

                .menu-element {
                    span {
                        float: none;
                        @include inline-block();
                    }
                }

                &.has-submenu {
                    position: unset;

                    .menu-element {
                        i.fa {
                            margin-left: 5px;
                        }
                    }

                    .submenu {
                        top: 68px;
                        bottom: 0;
                        left: -300px;
                        width: 300px;
                        display: block;
                        overflow-y: scroll;
                        @media (max-width: 767px) {
                            width: 230px;
                            left: -230px;
                        }

                        .menu-item {
                            border-top: none;

                            &.back-menu-icon {
                                //@include opacity(0);

                                .menu-element {
                                    padding-left: 0;
                                    color: $color_53;
                                    @include clearfix();

                                    .fa {
                                        float: left;
                                        line-height: .8em;
                                        font-size: 25px;
                                        margin-left: 0;

                                        &:before {
                                            line-height: .8em;
                                        }
                                    }

                                    .text {
                                        float: left;
                                        text-transform: uppercase;
                                        margin-top: 3px;
                                        margin-left: 5px;
                                        line-height: 1.2em;
                                    }
                                }
                            }
                        }
                    }
                }

                &.user-account {
                    text-align: right;

                    .menu-element {
                        @include inline-block();
                    }

                    .separator {
                        color: $color_2;
                        margin: 0 20px;
                    }
                }

                &.switch-language {
                    text-align: right;
                    @include clearfix;

                    label {
                        color: $color_24;
                        margin-right: 15px;
                        margin-bottom: 0;
                        font-weight: normal;
                        @include inline-block();
                    }

                    .btn-group.bootstrap-select {
                        width: 60%;
                        @include inline-block();
                        @media (max-width: 480px) {
                            width: 50%;
                        }
                    }
                }
            }
        }
    }
}
