.upcoming-events {
    position: fixed;
    bottom: 0;
    right: 0;
    border: 1px solid $color_6;
    border-bottom: none;
    width: 400px;
    @include transition(.3s);
    @media (max-width: 767px) {
        width: 100%;
    }

    .ue-header {
        background-color: $color_6;
        padding: 20px 15px;
        cursor: pointer;
        @include clearfix;

        .ue-head-label {
            color: $color_2;
            margin: 0;
            font-size: 16px;
            float: left;
            @include roboto-font($bold-font, $bold-font-weight);
        }

        i.fa {
            float: right;
            font-size: 21px;
            color: lighten($color_6, 15%);
            cursor: pointer;
            line-height: .7em;
            @include inline-block();

            &:hover {
                color: lighten($color_6, 5%);
            }
        }
    }

    .ue-content {
        background-color: $color_2;
        padding: 15px 15px 0;
        @include clearfix;

        .ue-photo {
            float: left;
            margin-right: 15px;
            width: 120px;
            @include inline-block();
        }

        p {
            margin-bottom: 0;
            text-align: justify;
        }

        .ue-button {
            clear: left;
            text-transform: uppercase;
            background-color: transparent;
            color: $color_6;
            border: none;
            float: right;
            padding-right: 0;
        }
    }

    &.is-hidden {
        .ue-content {
            display: none;
        }
    }
}
