.uploaded-photo-wrapper {
    position: relative;

    .delete-photo {
        position: absolute;
        top: -18px;
        right: -17px;
        width: 35px;
        height: 35px;
        background-color: $color_27;
        color: $color_2;
        display: none;
        border: none;
        font-size: 21px;
        z-index: 2;
        @include border-radius(50%);
        @include transition(.3s);

        &:hover {
            background-color: darken($color_27, 6%);
        }
    }

    &.completed {
        .delete-photo {
            display: block;
        }

        .uploaded-photo {
            border-bottom: none;

            .row-thumb-photos {
                .photo-wrapper {
                    .photo {
                        .thumb-photo {
                            @include border-radius(5px);
                        }
                    }
                }
            }
        }

        .uploaded-photo-overlay {
            left: 100%;
        }
    }

    .uploaded-photo {
        @include border-radius(0 0 5px 5px);
        border-bottom: 20px solid $color_6;

        .row-thumb-photos {
            .photo-wrapper {
                .photo {
                    .thumb-photo {
                        @include border-radius(5px 5px 0 0);
                        @media (max-width: 767px) {
                            margin-bottom: 0;
                        }
                    }
                }
            }
        }
    }

    .uploaded-photo-overlay {
        z-index: 1;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        border-bottom: 20px solid #bcbcbc;
        @include border-radius(0 0 5px 0);

        .photo-overlay {
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            background-color: $color_2;
            @include opacity(0.3);
        }
    }
}
