.group-page-all-members {
    .widget {
        &.group-members {
            @media (max-width: 767px) {
                margin-bottom: 60px;
            }

            .widget-header {
                margin: 0 15px;
            }

            .widget-body {
                .widget-item {

                    .group-member {
                        float: none;
                        margin-right: 0;
                        border-bottom: 1px solid $color_41;
                        padding-bottom: 20px;
                        margin-bottom: 20px;

                        &:last-of-type {
                            border-bottom: none;
                            padding-bottom: 0;
                            margin-bottom: 0;
                        }

                        .main-details {
                            @include inline-block();
                        }

                        .group-member-name {
                            margin-top: 0;
                            margin-bottom: 5px;
                            font-size: 16px;
                        }

                        .group-action-notice {
                            font-size: 12px;
                        }

                        .btn-group {
                            float: right;

                            &:after {
                                clear: both;
                            }

                            .dropdown-menu {
                                @media (max-width: 767px) {
                                    left: unset;
                                    right: 0;
                                }
                            }
                        }
                    }
                }
            }

            .group-admins {
                margin-bottom: 20px;
            }
        }
    }
}
