.group-page {
    .top-header {
        .main-header {
            background-size: cover;
            background: $color_26 no-repeat center center;

            .main-title {
                margin-bottom: 10px;
                font-size: 26px;
            }

            .submain-title {
                font-size: 12px;
                color: $color_82;
                @include clearfix();

                .fa, .text {
                    float: left;
                    @include inline-block();
                }

                .fa {
                    color: $color_38;
                    margin-right: 5px;
                }
            }

            .uploading-new-cover-photo-overlay {
                position: absolute;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
                background-color: rgba($color_4, 0.4);
                z-index: 3;
                @include opacity(1);
                @include transition(.3s);

                &.completed {
                    @include opacity(0);
                }
            }

            .btn-change-cover-photo {
                margin-top: 15px;
                text-transform: unset;

                &.disabled {
                    &:hover {
                        background-color: $color_2;

                        .fa, span {
                            color: $color_6;
                        }
                    }

                    #upload-cover-photo {
                        z-index: -1;
                        display: none;
                    }
                }

                #upload-cover-photo {
                    position: absolute;
                    top: 15px;
                    right: 0;
                    bottom: 0;
                    left: 15px;
                    z-index: 2;
                    cursor: pointer;
                    @include opacity(0);
                }
            }
        }
    }

    .widget {
        &.group-about {
            .widget-body {
                .widget-item {
                    border: none;
                    padding-bottom: 0;
                }
            }

            &.edit-mode {
                .widget-footer {
                    text-align: left;
                    @include clearfix();

                    .btn-edit-group-save,
                    .btn-edit-group-cancel {
                        .btn-content-wrapper {
                            .icon {
                                .spinner {
                                    margin-right: 10px;
                                    font-size: 15px;
                                }
                            }

                            .text {
                                font-weight: 500;
                                font-size: 12px;
                                text-transform: capitalize;
                            }
                        }
                    }

                    .btn-edit-group-save {
                        float: left;
                        margin-right: 10px;
                    }

                    .btn-edit-group-cancel {
                        float: right;
                        padding-right: 7px;
                        padding-left: 7px;
                    }
                }
            }
        }

        &.group-members {
            .widget-body {
                .widget-item {
                    padding-bottom: 10px;
                    border-bottom: none;
                    @include clearfix();

                    .group-member {
                        float: left;
                        margin-right: 5px;
                        margin-bottom: 10px;

                        &:hover {
                            .group-member-tooltip-wrapper {
                                display: block;
                            }
                        }

                        @media (max-width: 767px) {
                            margin-right: 10px;
                            margin-bottom: 10px;
                        }

                        &:nth-of-type(5) {
                            @media (max-width: 767px) {
                                margin-right: 0;
                            }
                        }

                        &:nth-of-type(6) {
                            margin-right: 0;
                            @media (max-width: 767px) {
                                margin-right: 10px;
                            }
                        }

                        .main-details {
                            position: relative;

                            .photo-wrapper {
                                width: 34px;
                                height: 34px;
                                @media (max-width: 767px) {
                                    width: 48px;
                                    height: 48px;
                                }
                            }

                            .group-member-badge {
                                position: absolute;
                                top: -2px;
                                right: -2px;
                                line-height: 1em;

                                .icon {
                                    @include inline-block();
                                    @include sprites('group_member_badge');
                                }
                            }
                        }
                    }
                }
            }

            .widget-footer {
                margin-top: 0;

                .add-group-member {
                    .form-group {
                        margin-bottom: 0;
                    }
                }
            }
        }

        &.group-latest-photos {
            padding-bottom: 5px;
            margin-top: 30px;

            .widget-body {
                .widget-item {
                    border: none;
                    padding-bottom: 0;
                }
            }
        }

        &.suggested-groups {
            .widget-body {
                .widget-item {
                    &:last-child {
                        padding-bottom: 0;
                        border-bottom: none;
                    }

                    .suggested-group-cover-photo {
                        display: block;
                        width: 100%;
                        height: 70px;
                        background-position: center center;
                        background-size: cover;
                        text-indent: -10000px;
                        margin-bottom: 10px;
                        @include inline-block();
                    }

                    .suggested-group-name {
                        margin: 0;
                        font-size: 14px;
                    }

                    .suggested-group-members {
                        color: $color_82;
                        font-size: 12px;
                    }

                    .btn-suggested-group-add {
                        @media (max-width: 767px) {
                            margin-top: 10px;
                        }
                    }
                }
            }
        }

        &.group-alert {
            border: none;
            padding: 0;
            text-align: center;
            background: unset;

            .widget-body {
                .widget-item {
                    padding: 0;
                    border: none;

                    .widget-content {
                        .btn-license-alert {
                            display: inline-block;

                            .icon {
                                margin-right: 10px;

                                .fa {
                                    font-size: 21px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

