.group-page-settings {
    .widget {
        &.group-settings {
            padding-bottom: 30px;

            .widget-body {
                .widget-item {
                    margin: 0 15px;

                    &:first-child {
                        padding-top: 0;
                    }

                    &:not(:last-of-type) {
                        border-bottom: none;
                    }

                    &:last-of-type {
                        padding-bottom: 30px;
                    }

                    .form-group {

                        textarea {
                            display: block;
                        }
                    }

                }
            }

            .widget-footer {
                margin-top: 30px;
            }
        }
    }
}
