.gallery-page {
    .gallery-wrapper {
        .list-shared-gallery {

            position: relative;
            height: 300px;
            overflow: hidden;

            .user-posted-gallery {
                margin-bottom: 0;
                overflow-x: auto;
                overflow-y: hidden;
                display: -webkit-box;
                display: -moz-box;
                white-space: nowrap;

                height: 318px;

                figure {
                    margin-right: 30px;
                    @include inline-block();

                    &:last-child {
                        margin-right: 0;
                    }

                    a {
                        @include inline-block();

                        img {
                            height: 300px;
                            @include inline-block();
                        }
                    }
                }
            }
        }
    }

    .event-status-wrapper {
        margin-top: 30px;
        border: none;

        .event-status {
            margin: 0;

            .footer {
                .middle-footer {
                    border-top: 1px solid $color_41;
                }
            }
        }
    }
}
