.post-event-page {
    .event-status-wrapper {
        border-left: none;
        @include border-radius(0);
        @media (max-width: 767px) {
            margin-top: 0;
            margin-bottom: 0;
        }

        .event-status {
            margin: 0;
        }
    }
}
