//http://www.bootstraptoggle.com
.checkbox label .toggle, .checkbox-inline .toggle {
    margin-left: -20px;
    margin-right: 5px
}

.switch {
    @include clearfix;

    .switch-option {
        float: left;
    }

    span.text-right {
        float: left;
        display: block;
        margin-top: 7px;
        margin-left: 10px;
        @media (max-width: 480px) {
            text-align: left;
            margin-left: 0;
            width: 70%;
            float: right;
            margin-top: 0;
        }
    }

    &:last-child {
        .switch-option {
            .toggle {
                margin-bottom: 0;
            }
        }
    }
}

.switch-option {
    .toggle {
        position: relative;
        overflow: hidden;
        margin-bottom: 20px;

        input[type=checkbox] {
            display: none
        }

        &.btn {
            min-width: 70px;
            min-height: 30px;
            padding: 0;
            @include border-radius(15px);
        }

        &.off {
            .toggle-group {
                left: -100%;

                .toggle-handle {
                    right: 2px;
                }
            }
        }

        .toggle-group {
            position: relative;
            width: 200%;
            height: 32px;
            top: 0;
            bottom: 0;
            left: 0;
            transition: left .35s;
            -webkit-transition: left .35s;
            -moz-user-select: none;
            -webkit-user-select: none;

            .btn {
                padding-top: 3px;
                padding-bottom: 3px;
                line-height: 1em !important;

                i.fa {
                    margin-top: 7px;
                }

                &.toggle-on {
                    position: absolute;
                    top: -2px;
                    bottom: 0;
                    left: -25px;
                    right: 50%;
                    margin: 0;
                    border: 0;
                    border-radius: 0
                }

                &.toggle-off {
                    position: absolute;
                    top: -2px;
                    bottom: 0;
                    left: 50%;
                    right: -25px;
                    margin: 0;
                    border: 0;
                    border-radius: 0
                }
            }

            .toggle-handle {
                position: absolute;
                margin: 0 auto;
                top: 1px;
                left: 36px;
                padding-top: 0;
                padding-bottom: 0;
                width: 28px;
                height: 28px;
                border-width: 0 1px;
                border: none;
                @include border-radius(50%);

                &.btn {
                    &.btn-default {
                        &:hover {
                            background-color: $color_82;
                        }
                    }
                }
            }
        }
    }
}

.toggle-on.btn {
    padding-right: 24px
}

.toggle-off.btn {
    padding-left: 24px
}

.toggle.btn-lg {
    min-width: 79px;
    min-height: 45px
}

.toggle-on.btn-lg {
    padding-right: 31px
}

.toggle-off.btn-lg {
    padding-left: 31px
}

.toggle-handle.btn-lg {
    width: 40px
}

.toggle.btn-sm {
    min-width: 50px;
    min-height: 30px
}

.toggle-on.btn-sm {
    padding-right: 20px
}

.toggle-off.btn-sm {
    padding-left: 20px
}

.toggle.btn-xs {
    min-width: 35px;
    min-height: 22px
}

.toggle-on.btn-xs {
    padding-right: 12px
}

.toggle-off.btn-xs {
    padding-left: 12px
}
