.panel {
    border: none;
    @include box-shadow(none);
    @media (max-width: 767px) {
        margin-bottom: 0;
    }

    .panel-heading {
        background-color: transparent;

        .nav-tabs {
            @include inline-block();
            @media (max-width: 767px) {
                overflow-x: auto;
                overflow-y: hidden;
                display: -webkit-box;
                display: -moz-box;
                white-space: nowrap;
            }

            li {
                margin-right: 40px;
                font-size: 14px;
                @media (max-width: 767px) {
                    float: none;
                    @include inline-block();
                }

                a {
                    color: $color_36;
                    border: none;
                    border-bottom: 3px solid $color_4;
                    padding-top: 15px;
                    padding-bottom: 15px;
                    @include transition(.3s);

                    &:hover {
                        background: transparent;
                        border-bottom: 3px solid $color_27;
                        @include transition(.3s);
                    }
                }

                &.active {
                    a {
                        border: none;
                        color: $color_27;
                        border-bottom: 3px solid $color_27;
                    }
                }

                &:last-child {
                    margin-right: 0;
                }
            }
        }
    }

    .panel-body {
        padding: 0;
        border-top: 3px solid $color_4;
        margin-top: -3px;
        @media (max-width: 767px) {
            padding: 0;
        }

    }
}

/* nav wrapper */
.tab-nav {
    position: relative;
    width: 610px;
    overflow: hidden;
    background: #ddd url(tab-slide.png) no-repeat 0 0;
}

/* nav */
.tab-nav ul {
    position: relative;
    float: left;
    width: 1600px;
    margin-left: 535px;
    padding-left: 0;
    list-style-type: none;
    background-color: #fff;
}

.tab-nav li {
    float: left;
    clear: left;
}

.tab-nav a {
    display: block;
    width: 74px;
    border-right: 1px solid #ddd;
    height: 25px;
    line-height: 24px;
    float: left;
    text-align: center;
    text-decoration: none;
    color: #000;
    background: url(tab-slide.png) no-repeat 2px -194px;
}

.tab-nav a.expanded {
    background-position: 2px -244px;
}

/* second-level overrides */
.tab-nav ul ul {
    float: left;
    background-color: #333;
    width: auto;
    margin-left: 0;
}

.tab-nav li li {
    clear: none;
}

.tab-nav li li a {
    color: #fff;
    width: 100px;
    background-image: none;
}
